[2016-07-12 23:32] Mortiferr opened #1000 "Docs are outdated on extensions"
Docs are outdated on how to create an extension. Docs say just put it in the extensions folder but doesn't exist in my installation. @dav-is confirmed on Gitter.

[2016-07-14 14:58] franzliedke commented on #1000
Thanks for the heads-up! We'll be sure to bring them up to par for the next release.

[2016-07-14 15:16] franzliedke commented on #623
Hi @renyuneyun, thanks for your interest in solving this issue! And sorry it took a while to get back to you with more information... you know, life. ;)

Anyhow, yes, you are right, the "locale" keyword in composer.json is currently the only way to recognize an extension as language pack. Please note that the `ExtensionManager` already does some work parsing all the extension information from the

[2016-07-17 14:34] franzliedke commented on #189
For reference: https://webmasters.googleblog.com/2014/02/infinite-scroll-search-friendly.html

[2016-07-17 23:22] dcsjapan opened #1002 "Break words in posts with excessive width"
Words longer than the post width can complicate scrolling in certain environments, e.g. when using notebook touchpads or mobile devices. It might be a good idea to adjust the `word-wrap` property for the post body. See [this discussion](https://discuss.flarum.org/d/3380-posts-with-horizontal-scroll) for details.

[2016-07-19 04:44] renyuneyun commented on #623
Hi @franzliedke, thanks for your kindness!

I've found out how to get the needed properties and (I think I've) finished the codes to determine whether the extension is the target or not.

However, I don't know what to do to inform the user (admin) about this situation... Maybe this would be solved in another issue? But at least I should use some mechanisms to broadcast it, right?
So, should I thro

[2016-07-19 13:28] dav-is opened #1003 "Stickies don't go away until it is acctually read"
You can mark it as read but it still stays at the top. Then you manually read all of it and it goes away (with a refresh)

[2016-07-19 15:05] franzliedke commented on #1003
I don't get the issue title... the problem is that the sticky should drop down to it's time-based position once it is read - but it only does so when the discussion list is reloaded from the server.

Correct? But that's not what the title says...

[2016-07-19 15:15] dav-is commented on #1003
That's one bug. The second is by clicking the `readNumber` button on the index it doesn't reset the stickies.

[2016-07-19 15:17] franzliedke commented on #1003
Ah gotcha, thanks for explaining!

[2016-07-19 15:19] dav-is commented on #1003
Just to be clear: refreshing after clicking the read number button doesn't reset the position.

[2016-07-19 15:31] franzliedke commented on #990
@coderstephen I think we can do it. Would you be interested in sending a PR? Or would you rather get help in getting started with an extension?

[2016-07-19 15:43] franzliedke commented on #623
Hmm, can you send what you have as a work-in-progress pull request? It's easier to discuss this when we actually see the code... :)

[2016-07-19 15:57] franzliedke commented on #920
@tobscure Shouldn't we use `contentPlain` instead of `contentHtml` for the plain text emails? After all, Markdown works nice as plain-text formatting... (And once we add HTML emails, most people will see the pretty emails anyway.)

[2016-07-19 15:58] franzliedke commented on #920
And if we simply dump the HTML in those HTML emails, will the script tags cause any problems with email clients? Does anybody know that? I could imagine that could make the messages look suspicious to anti-spam tools.

Or is there an easy way to render the HTML without any JS, @JoshyPHP ?

[2016-07-19 19:27] coderstephen commented on #990
@franzliedke I think I can open a PR soon to add the filter option. I haven't looked at it in a couple of weeks, but this is might be the ideal solution I think for my use case.

[2016-07-20 02:01] renyuneyun commented on #623
Sure. I'l create a pull request...

Haven't read through the coding style guidelines yet. If my coding style isn't correct, please point it out :)

[2016-07-20 09:52] Ovilia commented on #883
Any update on this? I want to disable native registeration, and use third-party login only. Is this possible, or how should I change to achieve this?

[2016-07-20 13:29] franzliedke commented on #883
It is planned for the stable version. No progress yet, unfortunately.

[2016-07-21 21:39] datitisev opened #1006 "User Page Discussion Count differs from discussions user's able to see"
## PROBLEM

Whenever someone deletes the first post of a discussion, another user can still see that discussion as part of the discussion count on the user's page, but whenever they go to see the actual list of discussions, it says there're no discussions there.
![flarum/core#1006](https://i.imgsafe.org/140b07a051.png)

## STEPS

1. Create a discussion on a user's account with no discussions
2. De

[2016-07-22 23:43] dcsjapan commented on #395
While reworking the Tags extension, would it be possible to add some way to fine-tune which tags (or which types of tags) are displayed in the sidebar list? See [this forum post](https://discuss.flarum.org/d/3355-hidden-tags-in-main-list/13) for an example of the sort of control that admins might appreciate having.

[2016-07-24 15:38] franzliedke commented on #877
Some wisdom from Google: https://developers.google.com/web/updates/2016/07/infinite-scroller

[2016-07-24 16:41] datitisev commented on #914
Is this still a problem? If I signup on latest dev-master, no blank screen comes up, and it still doesn't come up when I refresh.

I think this may have been fixed.

[2016-07-24 16:45] datitisev commented on #763
I think this has been partially fixed with the new code style of #936, screenshot:
![](https://cloud.githubusercontent.com/assets/6401250/15100377/e3c02b64-153d-11e6-9d4d-d7f59d61221f.png)

It stands out more, so I guess we need to change the focus of this issue to the styling of quotes with the dark scheme.

_PS: Why does this need verification?_

[2016-07-26 01:38] phodal commented on #514
@franzliedke Today I do some config with Nginx, it seems the API don't have compress. And I compare the config between Nginx and Apache, I found in Nginx config lost one ``gzip_types`` which is ``application/vnd.api+json``.

[2016-07-29 11:23] #1002 closed

[2016-07-29 11:29] tobscure commented on #877
@franzliedke very cool, much slicker than Flarum's infinite scroll! I think a refactor using their method is in order :)

[2016-07-29 11:35] tobscure commented on #1006
Great bug report, thanks :)

[2016-07-29 11:36] tobscure commented on #395
@dcsjapan Yes I think that kind of power is probably a good idea.

[2016-07-29 11:46] tobscure commented on #285
This bug report confuses me... 🤔

@franzliedke I think I agree with that though.

[2016-07-30 06:09] sirinath commented on #395
I think you should do this with pre defined defaults so advance uses can have more flexibility.

[2016-07-30 06:49] tarunmarkose commented on #285
I've faced this too. I think what OP means is that Flarum doesn't always
remember your last read post correctly and takes you to a part of the
thread that you've already read before. Then you gotta keep scrolling
down until you reach the correct point where you last left off.

On Friday 29 July 2016, Toby Zerner <notifications@github.com> wrote:

--
-Tarun

[2016-07-30 08:03] tomdav999 commented on #285
@tobscure, when I posted the bug report almost a year ago it was working as I described in the OP.  I just tested again and I can't replicate some of the strange things I was seeing back then so I can appreciate that it might be confusing now to the extent this has been fixed.   @franzliedke by "come back" I meant hitting the browser's back button to return to the list of topics and then click on

[2016-07-30 08:10] tomdav999 commented on #285
BTW, just realized I made a typo in the title.  I meant to say it wasn't jumping to first unread post (or alternatively last read post).

[2016-07-30 09:52] tomdav999 commented on #285
After more testing with different devices, things are still somewhat buggy.  If I go to desktop and click on the word association thread there are roughly 4.5 viewable posts per page and it correctly advances 4 posts every time I click on the thread.  For example, xxxx of yyyy posts counter shows 1248, 1252, 1256, 1260 for xxxx. But on my mobile device xxxx is stuck on 1248.  If I hit my mobile br

[2016-08-01 21:28] jordanjay29 opened #1013 "Invalid token on discuss.flarum"
User [ashkir](https://discuss.flarum.org/u/ashkir) on discuss.flarum [had an issue with the activation link to his account](https://discuss.flarum.org/d/3493-invalid-token-feedback). He reported that the link in the email, token provided below, led him to a blank page with the source containing only:
`"Invalid confirmation token."` Empty webdev console as well.

His account was activated in the in

[2016-08-02 12:36] #990 closed

[2016-08-02 18:16] Luceos commented on #980
@webeindustry was this issue created to support caching on the hosting services?

[2016-08-02 18:48] Luceos commented on #837
So what's missing?

[2016-08-03 01:43] tobscure commented on #837
@Luceos The event implementation I think (as outlined in [my comment](https://github.com/flarum/core/issues/837#issuecomment-205061120) above)

[2016-08-09 16:09] niv opened #1014 "deleting a primary tag with children results in forum breaking"
Deleting a primary tag that has child tags results in the forum breaking with a PHP error.

Version affected: latest from --stability=beta as of this ticket (0.1.0-b5 ?)

Steps to repro:
* Create primary tag
* Create child tag under primary tag
* Delete primary tag

Database now contains a invalid parent reference (in tags.parent_id), and the subsequent lookup fails in /vendor/flarum/flarum-ext-ta

[2016-08-10 02:01] kulga commented on #1014
Doesn't seem to occur in the latest dev-master. Does the gif depict the correct steps?
Tested on [Devflarum](https://discuss.flarum.org/d/697-devflarum-sandbox-server) (Feel free to trial it there)

![](http://i.imgur.com/sF4bf4s.gif)

[2016-08-10 09:41] niv commented on #1014
Hey,

that's exactly what I did. I just checked the source repo for ext-tags and it appears that it was fixed in #962.

Sorry for the noise!

[2016-08-10 09:41] #1014 closed

[2016-08-12 07:42] tobscure commented on #902
Duplicate of #948

[2016-08-12 07:42] #902 closed

[2016-08-12 07:46] tobscure commented on #809
Closing this, @sijad's extension is great 👌

[2016-08-12 07:46] #809 closed

[2016-08-12 08:03] tobscure commented on #932
I think something along the lines of your latter suggestion is the way to go. Really the time is meant to be a separate entity. In fact, in the proposed notifications redesign (#868), it's on its own line, so this won't be an issue :)

[2016-08-12 08:03] #932 closed

[2016-08-13 22:45] TheIsee opened #1015 "Logout and 404 Error"
At the time of disconnection on Flarum, the site returns a 404 error and I'm not disconnected, I'm under Nginx.

Sorry for my english

[2016-08-13 22:46] dav-is commented on #1015
I don't understand in the slightest. Maybe some screenshots or steps to reproduce?

[2016-08-13 23:02] giga300 commented on #1015
Here is : http://i.imgur.com/8rgNwEC.png

[2016-08-13 23:05] giga300 commented on #1015
Step 1 - I login
Step - 2 - I disconnect
And the website return 404 error :(

[2016-08-14 00:01] dav-is commented on #1015
Is this on your local install? Are you using any sort of caching?

[2016-08-14 02:06] kulga commented on #890
In `vendor/flarum/core/src/Install/Prerequisite/WritablePaths.php`
hopefully adding `change group of..` part

                $this->errors[] = [
                    'message' => 'The '.realpath($path).' directory is not writable.',
                    'detail' => 'Please chmod this directory'.($path !== public_path() ? ' and its contents' : '').' to 0775.'
                    'detail' => 'Please

[2016-08-14 03:35] WriterStat opened #1016 "All discussions page's banner close button should only work/hide banner on login. Otherwise gone forever to user."
Hi! First off thanks for the great software and hard work!  Cheers!

If a user closes the banner on the all discussions page. It is gone forever for them.  And causes them to ask where did it go?  Constantly and what did I do? And why? They can't help themselves, it is the only banner in the software where they can, so they wonder why and they are drawn to see what happens, like moths.

To fix, if

[2016-08-14 16:24] giga300 commented on #1015
Up :(

[2016-08-19 06:17] fernsheldon commented on #895
Hey @tobscure ,

Just to add to this, we've noticed a few issues with regards to the reply composer when viewing on a _**mobile device**_ :

 - Issue#1 - [iOS specific] When replying to Discussion, by going to the bottom on the list posts and clicking "Write a Reply..."  The reply composer opens up, but without the keyboard and cursor. Only after clicking on the text "Write a Reply" or the body of

[2016-08-19 13:47] Cu8eR opened #1017 "Highlight unread (new) posts in thread"
Highlight unread (new) posts in thread or add an cion whatever to se what is new and unread by a user. Now you can see only "X unread posts" in the right panel, but thats all. What about to jump to the first unread post?

[2016-08-19 13:52] Cu8eR opened #1018 "Show user panel on mouse hover in post "@user""
Now you can see a tooltip for referenced posts. It would be nice to see same feature for mentioned users (now you have to click on the username to show more info). You can use same approach as you use for user cards when you point with mouse cursor on profile avatar in post.

[2016-08-19 14:03] Cu8eR opened #1019 "Custom time and date format"
https://discuss.flarum.org/d/2382-custom-time-and-date-format

[2016-08-19 14:04] Cu8eR opened #1020 "Disallow liking own posts"
Disallow liking own posts

[2016-08-19 14:12] Cu8eR opened #1021 "Mention user (@)"
For me it is not working correctly - official flarum forum

- press @ in editor and type for example "davis" - nobody is shown in a dropdown menu (user exists).

Some ideas:
- add a user avatar next to the name in a dropdown menu

[2016-08-19 14:14] Cu8eR opened #1022 "Mention thread (#)"
Would be nice to add this feature - something like Github - when you press # you can see list of threads which can be easily mentioned in a post. Something like this also exists for MyBB as a plugin

http://i.imgur.com/WiE0XgP.gif

[2016-08-19 20:07] dav-is commented on #1020
Pretty sure this has been brought up elsewhere. I believe the general consensus was that it should be an option.

[2016-08-19 22:44] tobscure commented on #1020
Added to #306.

[2016-08-19 22:44] #1020 closed

[2016-08-19 22:47] tobscure commented on #1021
Thanks for the report. I can't reproduce so can you please provide more specific instructions on how you're encountering this bug. e.g. which editor are you using (new discussion, reply?) which topic? does it happen after you reload the page? with other usernames? what about if you backspace a few times and then try again?

User avatar is already present next to the name in the dropdown menu.

[2016-08-20 00:52] dav-is commented on #1017
The whole discussion list is facing a revamp. It was on the forums somewhere.

[2016-08-20 00:55] dav-is commented on #306
Perhaps we could use the github emojis and based on the positive or negative connotation of the emoji generate a user's karma/reputation.

[2016-08-20 01:06] jordanjay29 commented on #1021
Also, what browser and OS are you using? Cannot reproduce on desktop Firefox or Chrome.

[2016-08-20 01:08] jordanjay29 commented on #1019
Let's try to discuss on the forums first before starting an issue.

[2016-08-20 01:08] #1019 closed

[2016-08-20 01:15] dav-is opened #1023 "IOS 10 Safari Editor Zoom"
Safari in IOS 10 was [updated](https://wouterdeschuyter.be/blog/how-to-disable-viewport-scaling-in-ios-10-you-dont-941140811) to remove the meta tag to prevent viewport scalability. While this is a needed fix for poorly designed websites, this fiddles with Flarum. It's almost unnoticeable besides when clicking inside a text box. When it is focused, it zooms in making text on the edge of the screen

[2016-08-20 02:01] kulga commented on #1021
I have experienced this. After some investigating (Devflarum - dev-master) Firefox 48
it appears it happens after several lines
![](http://i.imgur.com/hO1c7oV.gif)

[2016-08-20 03:29] tobscure opened #1024 "Uglify JS in flarum-gulp, commit minified files and source maps to the repo"
See flarum/flarum-gulp#2

Advantages:
- No minification required on PHP end -> better performance, especially when enabling/disabling extensions
- Don't have to rely on a third-party minifier (nullifies #887)
- Full control over minification process - less likely for installation-specific errors to occur
- Source maps! Small asset filesize even in debug mode

Disadvantages:
- Lose some of the extr

[2016-08-20 06:24] Cu8eR commented on #1021
Google Chrome last beta version (Win 10, 64 bit, Pro - anniversary update)

As @kulga - soemthing like this, but it happens only for some users

[2016-08-20 06:25] Cu8eR commented on #1019
I think it shoul be added here, one of the most basic feature

[2016-08-20 06:27] Cu8eR commented on #306
@dav-is - yes, that would be nice

[2016-08-20 06:27] jordanjay29 commented on #1019
That's fine, but we usually let feature requests be discussed on the forums before making them an issue. Mostly because not all feature requests are candidates for inclusion into Core or as a bundled extension. Many members of the community are willing to create extensions, and discussing on forums allows this to happen more often.

[2016-08-20 06:29] Cu8eR commented on #1019
As you can see in the first post - it was posted by me to Flarum forum 5 months ago :( and no feedback

[2016-08-20 06:29] jordanjay29 commented on #1016
Duplicate: https://github.com/flarum/core/issues/515

[2016-08-20 06:29] #1016 closed

[2016-08-20 11:24] WriterStat commented on #1016
Hi @jordanjay29 morning. Not a duplicate of #515.

This is something different. It's actually a discussion of removal of the close button on the hero area/banner on the All Discussions page for now.

Or a way to manage the close button function on the All Discussions page Hero area/banner.

A quick fix for conformity, so it conforms to the rest of the software banners/hero areas.

There's no reaso

[2016-08-20 11:26] WriterStat commented on #1016
Since my user base keeps clicking on this close button and asking how do I bring it back. It's a problem. =)))

[2016-08-21 03:46] datitisev commented on #306
I started to develop a Reactions extension, but I sadly had to stop developing as I got another project to finish. It'd be nice for someone to try to continue developing, and then PR me the changes (everything works except for Flarum to show the reaction name in the relationship).
The last development is at [datitisev/flarum-ext-reactions#fixing-reactions-names](https://github.com/datitisev/flarum

[2016-08-21 12:33] franzliedke commented on #1019
@Cu8eR In that case, we will have to assume that there is no major interest for this feature in the community. Which means it is not something we will prioritize in implementing.

You can try to gather more interest in the community. But please understand that GitHub is not the place to do so.

[2016-08-21 12:34] Cu8eR commented on #1019
Quite sad - 12 HR system is not used in Europe... moreover dont forget about month/date/year format.

[2016-08-21 18:41] sijad commented on #284
implement `OPTIONS` method shouldn't be API job? I mean API should let the client know which options (`GET`, `POST`, `UPDATE`, `PUT`, etc.) are available. isn't this the whole point of `CORS`, pre-flight request and `OPTIONS` method?
I think it's the API job to do that, specially in modern clients

[2016-08-21 18:57] sijad commented on #872
[inferno](https://github.com/trueadm/inferno) is another library to think about, I know it's lots of work but it seems to be more promising and faster and also smarter.

[2016-08-22 00:55] Kakifrucht commented on #1019
You can customize it via language packs.

[2016-08-22 18:04] Luceos commented on #1022
Hello @Cu8eR,

Thanks for sharing your thoughts, these are highly appreciated. Currently we are in the process of formalizing a bit more how we are handling bug and feature reports. Feature requests at this point should be posted on our forums under the [feedback - features](https://discuss.flarum.org/t/features) tag. Bugs can be posted here on Github.

If you would be so kind to redirect your req

[2016-08-22 18:04] #1022 closed

[2016-08-23 00:20] haydenjames commented on #894
What very of beta will this show up in?

[2016-08-23 05:35] tarunmarkose commented on #895
This is quite a UX issue - sometimes when I type a reply on my mobile, the
composer window keeps jumping up and down with each key press. It becomes
very hard to finish the reply.

On Friday 19 August 2016, Sheldon Fernandes <notifications@github.com>
wrote:

--
-Tarun

[2016-08-23 07:24] tobscure commented on #895
@tarunmarkose which browser/version?

[2016-08-23 08:39] tarunmarkose commented on #895
Safari on iOS 9.3.2...

On Tue, Aug 23, 2016 at 12:54 PM, Toby Zerner <notifications@github.com>
wrote:

[2016-08-25 17:22] meetdilip commented on #515
I would like to update this issue with my Flarum community posts

[2016-08-25 19:45] sijad commented on #1024
https://github.com/google/closure-compiler-js supports gulp

[2016-08-26 13:45] muyiwaolu commented on #1006
What's the status on this, thinking of taking this on as my first PR.

[2016-08-26 19:48] dav-is commented on #1006
It's important the user's discussion and post count reflect the number of posts the user has made. If a post is hidden from the user viewing the post, the user should see the same number and should see a template post listing all the discussions they don't have permission to see. The API should be able to tell users the post was restricted instead of not found.

[2016-08-27 12:23] tobscure commented on #994
Can't seem to reproduce. Is this using latest dev-master?

[2016-08-27 13:21] #976 closed

[2016-08-27 14:12] #975 closed

[2016-08-27 14:24] #999 closed

[2016-08-27 14:30] #961 closed

[2016-08-27 14:32] tobscure commented on #914
Yeah, I can't reproduce, and I can't remember but I think I might've fixed something to do with this a while ago. Closing now, but if it happens again after beta 6 is released, please open a new issue!

[2016-08-27 14:32] #914 closed

[2016-08-27 17:25] dav-is commented on #994
Also cannot reproduce. Must have been fixed somehow.

[2016-08-28 18:18] meetdilip commented on #867
Can I ask for a wider " Start Discussion " button in mobile UI ? Something like in screen shot below

![start discussion](https://cloud.githubusercontent.com/assets/6965443/18035778/eb8b62b6-6d79-11e6-9c4c-f1f25f7433e3.png)

[2016-08-29 23:34] jiayihu commented on #872
I always wanted to contribute to this project but having Mithril instead of React makes it difficult for many of us who are more familiar with the latter and don't have the time to learn the former.
If you are planning to build a React-like API, why don't just completely use React and gradually move away from Mithril?

[2016-08-30 00:43] dav-is commented on #872
Because react is slow. Mithril is extremely Fast and lightweight. That's why it was chosen. Inferno may be a good candidate.

[2016-08-30 05:52] tobscure commented on #872
We'll be moving to [Mithril 1.0](https://github.com/lhorie/mithril.js/blob/rewrite/docs/v1.x-migration.md) at some point in the future, which has a better API so we don't need to try and imitate React's. Some of the improvements are inspired by Inferno, so I don't believe Inferno offers any significant advantages over it.

[2016-08-30 07:05] tobscure commented on #851
@franzliedke Do you have any further thoughts here?

[2016-08-30 11:30] jiayihu commented on #872
@dav-is Do you have any test which shows that some part of Flarum offers a better user experience with Mithrill rather than React?

I know the benchmarks comparing Mithril (and other virtual dom libraries) vs React but in a real-world usage React is just very fast and surely fast enough for users if used properly. For instance Netflix is using it and they support devices 256 times slower than a co

[2016-09-03 12:18] tobscure commented on #1024
@franzliedke do you agree with this idea?

[2016-09-03 12:20] #853 closed

[2016-09-03 12:52] #970 closed

[2016-09-03 13:43] #1023 closed

[2016-09-03 17:32] terabin opened #1025 "post.discussion() is not a function"
I don't know how this error appears, just a strange thing happened.

A member anwsered my post, and notification start to give error:

post.discussion() is not a function
in:

[code]

Value of two metions notification in this time is false, so, maybe is not correctly loaded?

When I refresh the page, the first time when I open notifications, works, but when I change my page(for example, for anothe

[2016-09-04 05:24] felagund18 commented on #1025
I found this error too, mine was related to notifications
![screen shot 2016-09-04 at 2 21 30 pm](https://cloud.githubusercontent.com/assets/1384327/18229211/f80acf82-72aa-11e6-919a-c83a20499833.png)
this error was related to ```subject_id```,
after notification is saved in ```notifications```, user deleted it's post. In client side forum.js, while showing notifications, did not check if related m

[2016-09-04 14:52] terabin commented on #1025
Well, I found the cause too, but for me, makes sense delete notification about a post when the post is deleted, so, I propose this:

https://github.com/flarum/flarum-ext-likes/pull/7

[2016-09-04 22:23] franzliedke commented on #1024
If it wouldn't mean that we get very ugly diffs every time, I would immediately say yes... I am slightly against it for that reason right now, but let me sleep over it.

[2016-09-05 02:37] tobscure commented on #1024
GitHub's interface will hide diffs for minified/ugly/large files, I believe.

[2016-09-05 05:27] sijad commented on #1024
only developers need source maps, right? can they build them or download them from other repo somehow?

[2016-09-05 18:55] franzliedke commented on #1024
Oh, Google's Closure Compiler is now available as JS version, too: https://developers.googleblog.com/2016/08/closure-compiler-in-javascript.html?m=1

[2016-09-06 09:03] sijad opened #1029 "Allow add data to login and forgot password request"
currently it's not possible bind more data to login and forgot password modal request (`onSubmit`)
it can be helpful for extensions that needs data on submitting those form like captcha extension, etc.

[2016-09-06 12:17] tobscure commented on #1029
Perhaps we should consider some kind of standardised method of extending forms/form data as well

[2016-09-06 17:26] dav-is commented on #1029
Defiantly. This would make my invite only extension possible. As of now, I had to create a seperate API route which is pretty messy and isnt viable in a production atomosphere.

[2016-09-06 17:48] sijad opened #1030 "Use .jsx extension instead of .js"
it's not really a problem now with new modern IDE's, but it feel cleaner that way.
also helps with some linters.

[2016-09-07 11:14] sijad commented on #865
@tobscure can you let us know about your plans?

[2016-09-07 18:08] sijad commented on #641
@wion @moutonnoireu there is an reCAPTCHA extension for Flarum now
https://discuss.flarum.org/d/3707-recaptcha
sorry for spamming

[2016-09-08 18:19] franzliedke commented on #384
Jay, my [pull request](https://github.com/zendframework/zend-diactoros/pull/165) has been accepted. :)

[2016-09-10 11:44] saggel commented on #194
I'm here to add Greek on the table too, as I pointed out [on the forum](https://discuss.flarum.org/d/3723-non-english-characters-on-url)
Happy to help with the mapping if needed!

[2016-09-10 14:41] franzliedke commented on #872
I think that migrating to React isn't anywhere in scope for the upcoming major release. ;)

[2016-09-10 14:48] franzliedke commented on #1030
Any strong opinions anyone?

From my perspective it would be fine. (I don't know about any large disadvantages, but then I don't know much about JSX anyway. Quick research did not turn up any problems.)

If @tobscure gives the go-ahead, I guess a pull request would be welcomed.

[2016-09-10 23:22] tobscure commented on #1030
Counter-argument: https://github.com/facebook/react/issues/3582#issuecomment-90789417

[2016-09-11 00:31] ezeperez26 commented on #872
React is not totally open source. See its [patents](https://github.com/facebook/react/blob/master/PATENTS).
More info in this [article](http://react-etc.net/entry/your-license-to-use-react-js-can-be-revoked-if-you-compete-with-facebook).

[2016-09-11 10:27] jiayihu commented on #872
@ezeperez26 Maybe you should read more carefully the patent.

if you (or any of your subsidiaries, corporate affiliates or agents) initiate
directly or indirectly, or take a direct financial interest in, any Patent
Assertion: (i) against Facebook or any of its subsidiaries or corporate
affiliates, (ii) against any party if such Patent Assertion arises in whole or
in part from any software, technol

[2016-09-11 15:58] meetdilip opened #1031 "Tag Notifications"
Currently, there is no " super sticky " option, which is quite understandable. But there can be scenarios where you need to give a sample post for users. Just like in request review, request graphics, board rules etc. I would like to suggest " Tag Notifications " which can be associated with a tag. It will be something like a pop up alert which can hold links and plain text.

Once someone chooses

[2016-09-11 22:26] jordanjay29 commented on #194
Referencing a new [extension](https://discuss.flarum.org/d/3736-avatar4eg-url-transliterator) by @avatar4eg that offers a potential solution.

[2016-09-11 23:09] Luceos commented on #978
@franzliedke something you might need to consider is the limitation by many shared hosts of the number of processes allowed per hosting plan/website. A common OS that implements this is CloudLinux.

[2016-09-12 07:15] franzliedke commented on #1030
Makes sense, too. I guess we can close this then?

[2016-09-12 07:16] franzliedke commented on #1031
I think "Notifications" is a bad term here, since you're not suggesting to integrate this with the board notification system, right?

If I understand you correctly, you want something like the global welcome box on a per-tag level?

[2016-09-12 07:18] franzliedke commented on #978
@Luceos Laravel's `sync` driver is basically just a dummy - it executes a job immediately instead of pushing it onto a queue. It's basically the poor man's queue adapter. So is my tardiqueue extension, it's just a little more advanced.

[2016-09-12 08:31] tobscure commented on #1031
Or something similar to the intended functionality of the old (outdated) [flarum-ext-instructions](https://github.com/flarum/flarum-ext-instructions)

[2016-09-12 14:03] meetdilip commented on #1031
@franzliedke  maybe, " Alerts " is a better term here. And yes, you got me right.

@tobscure , I am not sure what it is.

[2016-09-12 16:24] Luceos commented on #978
Yes I understand, I was referring to the threadqueue solution @franzliedke ;)

[2016-09-12 16:27] franzliedke commented on #978
Gotcha, yeah, that should only be used where possible.

[2016-09-12 16:27] franzliedke commented on #978
That's highly experimental anyhow.

[2016-09-12 20:58] franzliedke commented on #1006
@muyiwaolu Still interested? Feel free to take this on!

[2016-09-12 21:16] franzliedke commented on #1024
The problem with ugly diffs is not seeing them or not seeing them, it's the size of the repo that will quickly balloon, because every small change to a JS file will mean that Git will essentially store both the old and the new version completely every time.

[2016-09-12 21:20] franzliedke commented on #1015
The 404 on logout makes me think that URL rewriting is not correctly set up.

Did you follow the instructions at http://flarum.org/docs/installation/#nginx completely? And if so, did you make any additional changes to your Nginx config?

[2016-09-12 21:21] franzliedke commented on #1018
@tobscure What do you think? Does this fit your UI concept?

[2016-09-12 21:53] dav-is commented on #1018
I like the idea. I don't see a huge difference between it and a post preview. I'm sure it would be simple to implement just by using the UserCard component.

[2016-09-13 05:24] meetdilip commented on #1031
@franzliedke , isn't that a completely different issue ? Welcome message on register.

[2016-09-13 08:00] dav-is commented on #897
I believe I've solved this issue. See https://github.com/flarum/core/pull/1033, https://github.com/flarum/flarum-ext-auth-facebook/pull/5, and https://github.com/flarum/flarum-ext-auth-github/pull/5 . Twitter was already using IDs so there was no need to modify it.

The only possible issue I still see is [this](https://github.com/flarum/core/blob/master/src/Forum/AuthenticationResponseFactory.php#

[2016-09-13 11:48] dav-is commented on #141
@dcsjapan I was looking through the issues for beta 7 and saw your comment about email notifications. I actually just wrote something up a couple days ago about that: https://discuss.flarum.org/d/3740-utilizing-pixel-tracking-for-smarter-notifications

[2016-09-13 15:16] dav-is commented on #1006
It think it's important we preserve the user statistics. I think the number should stay but I think the API should output empty placeholder posts or discussions when they don't have permission.

[2016-09-13 19:37] franzliedke commented on #897
Thanks @dav-is! I'll try my best to review them during the next few days. :)

[2016-09-13 21:54] datitisev opened #1034 "Discussion List on sidebar when in post has wrong background"
Some discussions in the discussion list use the background color from below it.
Screenshots:

![captura de pantalla 2016-09-13 a las 5 53 26 pm](https://cloud.githubusercontent.com/assets/6401250/18492777/16f215ae-79db-11e6-9f1e-ba504caa5638.png)

![captura de pantalla 2016-09-13 a las 5 53 40 pm](https://cloud.githubusercontent.com/assets/6401250/18492778/1762b912-79db-11e6-84a4-74b08033bd6d.png)

[2016-09-14 07:45] franzliedke commented on #1034
Has anyone encountered this on a stable build of Chrome?

[2016-09-14 07:47] dav-is commented on #1034
@franzliedke I could't replicate on Chrome 53.xx

[2016-09-15 15:13] cristianciofu opened #1036 "[Facebook Login][Twitter Login] Registration/Login issues"
Hello,

I'm having an issue with the **Facebook Login** & **Twitter Login** extensions.

I activated it, created the FB app, filled the API/secret keys. Same goes for Twitter.

I managed to link my own account with my Facebook/Twitter account, but when I'm trying to create a new user directly with FacebookTwitter _(using different test accounts)_ the user is created in the database, but it cannot

[2016-09-15 16:43] dav-is commented on #1036
Did you enter your API credentials into the extension?

[2016-09-15 16:45] cristianciofu commented on #1036
@dav-is yes I did. For both of them.

[2016-09-16 07:43] luceos opened #1037 "Side navigation "now" does not work"
When you're at the top of a [discussion](https://discuss.flarum.org/d/3586-avatar4eg-share-social) and you click "now" in the side navigation to move to the latest post, it does not do anything anymore.

[2016-09-16 07:50] franzliedke commented on #1037
Hmm, do you have anything in the browser console?

For me, the same thing happens, but our custom scrollbar jumps down to the bottom, until I move on the page again.

[2016-09-17 20:34] Cu8eR commented on #1037
Do you use Google Chrome? Because since yesterday nothing works for me (same in MyBB - go to he last post, in Gmail etc).

[2016-09-19 08:04] Drilling-Billy commented on #1036
Just my two cents but could be related to the fact that I got a "Invalid confirmation token" after using the confirmation link in my email. Could also not resend the activation link since I had no "rights for this action" After refreshing the Flarum page however I was in.

[2016-09-20 14:40] HLFH commented on #194
@jordanjay29 Does not work for me. https://github.com/Avatar4eg/flarum-ext-transliterator/issues/1

[2016-09-21 17:28] pinglanyue opened #1038 "can't search with these word"
- 3 lettert's word.Like SEO、SQL
- you can search “extension” or "extension li" but can't search "extensio"or"extensi"

[2016-09-21 17:42] franzliedke commented on #1038
Hi,

yes, that's a known limitation of MySQL's full-text search engine, which we rely on. So there is nothing we can do about this (apart from implementing our own search driver), I'm afraid.

I believe it is possible to configure MySQL to index shorter words, too, so that is something you could do if you have access to the configuration.

[2016-09-21 17:42] #1038 closed

[2016-09-22 09:36] luceos opened #1039 "[extensions] check php requirements on install"
Related to [this PR](https://github.com/flarum/flarum.github.io/pull/36) we need Flarum to check the composer.json file for platform requirements before allowing installation.

Opened this issue in favor of the PR.

[2016-09-22 10:16] Luceos commented on #1037
@Cu8eR yes chrome.
@franzliedke had nothing in the console, would have reported that otherwise.

Not sure what's going on here. Seems to work again now (at least on my windows 10 notebook with Chrome). Can someone verify to close?

[2016-09-22 10:17] Luceos commented on #1034
haven't seen this either.. @datitisev can you re-confirm or give some more insight on the exact discussions this happens on?

Closing until you give more details, re-open at will.

[2016-09-22 10:17] #1034 closed

[2016-09-22 10:18] Luceos commented on #1030
Closing due to strong argument.

[2016-09-22 10:18] #1030 closed

[2016-09-22 10:20] Luceos commented on #1025
Link to new PR https://github.com/flarum/core/pull/1027

[2016-09-22 10:25] Luceos commented on #867
The `mark all read` link is very risky. What if you tap on it by accident? I'm not too sure about having them right under the `all discussions`. Fat fingers and links 😁

[2016-09-22 11:56] terabin opened #1040 "punycode is not defined"
About
https://discuss.flarum.org/d/3812-bug-cannot-edit-this-post

Maybe tried this?
https://github.com/bestiejs/punycode.js/

[2016-09-22 12:09] terabin commented on #1040
Best place to work with it
https://github.com/s9e/TextFormatter/issues/40

[2016-09-22 12:09] #1040 closed

[2016-09-22 12:25] HLFH commented on #194
@jordanjay29 Edit: it works but you have to fix manually the pages URLs by renaming them twice, then the `flarum-ext-transliterator` extension does its job.
![capture d ecran 2016-09-22 a 14 24 04](https://cloud.githubusercontent.com/assets/2359059/18747949/4580a34e-80d0-11e6-9289-0f3b9d0a4ecb.png)

[2016-09-22 13:02] jordanjay29 commented on #194
@HLFH I'm not the extension author, please report this bug on the extension thread at Flarum.org, or on the author's github.

[2016-09-22 13:17] HLFH commented on #194
@jordanjay29 Already done. https://github.com/Avatar4eg/flarum-ext-transliterator/issues/1

[2016-09-22 15:22] Cu8eR commented on #1037
There was an update yesterday (beta channel, 64 bit, win 10). Now it works fine in Flarum and even in MyBB where it was broken.

[2016-09-22 19:32] cristianciofu commented on #1036
I installed flarum on another server and the plugins seem to work.

I'll continue testing these days and I'll keep you post it 👍

[2016-09-23 01:35] dcsjapan opened #1041 "Fullwidth characters immediately after a URL break the edit function"
As demonstrated in [this thread](https://discuss.flarum.org/d/3812-bug-cannot-edit-this-post), a fullwidth character (such as those used in Japanese and Chinese) immediately after a URL break the post edit function. A post containing such a string cannot be previewed or edited.

Also note that even in the discussion view, the wrong part of the text is getting linkified as a result of the problemat

[2016-09-23 02:13] JoshyPHP commented on #1041
There are two different issues here. The first one, the preview not working, is probably the same bug as https://github.com/s9e/TextFormatter/issues/40. It's already fixed in master and should be available soon. One way to fix it now would be to include [punycode.js](https://github.com/bestiejs/punycode.js/) in the page. Actually I'd recommend including punycode.js either way to handle IDN URLs. P

[2016-09-23 03:19] kulga commented on #1037
Doesn't occur here Linux Firefox 48.0 (on discuss)

![](https://i.imgur.com/gblLGnf.gif)

[2016-09-23 06:07] dcsjapan commented on #1041
@JoshyPHP Thanks for looking into this. The second issue is indeed problematic, since one can't rely on whitespace for delimiters in some languages.

Would it be possible to add a toggle that would turn the autolink functionality off for certain locales? This would require users in those locales to specify links manually with Markdown or BBcode ... which would be a bother, but might better than th

[2016-09-23 11:49] JoshyPHP commented on #1041
@dcsjapan I've opened [an issue in the library's repository](https://github.com/s9e/TextFormatter/issues/42). If you have any real-world examples of non-ASCII URLs or URLs that are enclosed in non-ASCII punctuation, feel free to post them in a comment over there.

[2016-09-23 14:05] MacPrawn commented on #201
There's already a tooltip on the badge, however. I suspect that should be removed/hidden also, when the text is displayed? (i.e. in .DiscussionHero and .UserHero)

[2016-09-23 21:02] dcsjapan commented on #1041
@JoshyPHP I'll have a look around for some examples.

[2016-09-23 23:04] marcozambi opened #1042 "Search stops working properly on large forums"
After having imported about 18000 discussions and 256000 posts from my existing SMF2 forum (I wrote a specific tool for that) I noticed that all the searches I was launching were generating several server Error 500. Flarum became unresponsive then for several minutes, despite many tries to simply refresh the home page.
Initially I started small import tests, taking in only few hundred then thousan

[2016-09-24 06:20] tobscure commented on #1037
It was definitely occurring earlier... I'd guess it was something to do with something happening to the final post (deletion?) which was making the "Now" link try and scroll to a non-existent post - or something along those lines. If someone has some time to do some experimentation and try to reproduce that'd be super helpful :)

[2016-09-24 12:16] tobscure commented on #897
Thanks for taking a stab at this @dav-is, I appreciate your effort to keep things moving forward.

I think you've made a good start but it's not quite there. It seems to me if someone has an account with a password, and tries to log in via Facebook (with a matching email address), Flarum will prompt them to create a *new account* and auto-fill that email address.

Rather, if you try to log in via

[2016-09-24 15:10] dav-is commented on #897
The ID of the SSO user is stored in the database

[2016-09-24 23:19] jordanjay29 commented on #1006
@dav-is has a fair point for user statistics, but I'm not sure the board-wide statistics actually need to be considered here. The number of discussions listed on a user profile could simply be a total count grabbed from the list to be displayed depending on permissions, not necessarily the total number contained in the DB. This maintains the obscurity of secure forums that you may not have permiss

[2016-09-24 23:22] dav-is commented on #1006
Except loading all the posts from a certain user and testing to see if they have permissions takes a long time. That's why the post count is controlled by an event listener. @jordanjay

[2016-09-25 05:37] tobscure commented on #897
@dav-is I'm talking about subsequent SSO logins from new providers - ones which don't already have an ID stored in the database. e.g. Create a new account for foo@bar.com via Facebook, then log out, then log in via GitHub for foo@bar.com.

[2016-09-25 05:49] tarunmarkose commented on #897
Don't all the SSO providers we use confirm the email address when the user
registers with them?

What additional security would that email-reconfirmation at our end provide?

On Sunday 25 September 2016, Toby Zerner <notifications@github.com> wrote:

--
-Tarun

[2016-09-25 05:59] tobscure commented on #897
@tarunmarkose The idea is that although third-party providers do tend to verify email addresses (especially the providers we officially support), we can't necessarily trust them to. So if someone creates an SSO extension for a provider that *doesn't* verify email addresses, that's a security issue for Flarum.

Now that I think about it, I don't think this is critical and I don't think it should be

[2016-09-25 12:48] datitisev commented on #1034
I can't replicate anymore, it was probably a Webkit bug, as I am in Chrome Canary and probably got fixed a few days after I saw the error.

[2016-09-26 09:59] Nerdcoat commented on #347
I installed the latest beta but have the same error. MySQL is 5.5+

[2016-09-27 15:49] vivex commented on #258
do  it supports php mail ?

[2016-09-27 15:52] franzliedke commented on #258
Hi @vivex, yes, it is possible to configure Flarum to use mail instead of SMTP, however at the moment this is not possible through the user interface. You would have to create a custom extension.

[2016-09-27 15:54] vivex commented on #258
@franzliedke  thanks for quick reply,  So if i change `mail_drive` in DB to `mail` , will it work ?

[2016-09-27 15:58] franzliedke commented on #258
You could try that, yes - but I'm not sure what that will do to the admin interface, to be honest. ;)

[2016-09-28 05:50] Luceos commented on #258
Yes you can set mail.driver in the database to mail, you can fill in bogus information in the other fields, it will be ignored (if I'm not mistaken).

[2016-10-01 01:27] Magicalex opened #1044 "Use MEDIUMTEXT for post content"
Hi,

I build a Fluxbb to Flarum importer. On Fluxbb the equivalent of the column 'content' the type is mediumtext. So potentially a few posts exceed 65535 characters.

importer : https://github.com/mondediefr/fluxbb_to_flarum

[2016-10-03 18:59] Mortiferr commented on #1000
I'd like to bump: extension documentation is still not very good or descriptive.

[2016-10-04 07:53] Luceos commented on #915
Renamed this issue to reflect the work that is necessary to complete it. Seems like the PR by @sijad is stalled due to some feedback necessary from both Toby and @franzliedke. @franzliedke can you jump onto the PR and formulate a list of required changes to get it done?

[2016-10-04 07:55] Luceos commented on #897
I agree with you @tobscure , let's not have this block B6. I think if someone decides to implement a SSO that does not verify the email address, they should take measures to at least inform the user. We (as staff) can inform the users additionally in the forum thread (if it exists).

Are we ok to move this to B7 (or any follow up release) @flarum/core ?

[2016-10-04 09:00] tobscure commented on #915
I think I wrote this somewhere else (in one of the Gitter chats)... I think we should remove the extension generator altogether from b6 and not have this block b6 release. We can get a fixed version into a later release.

[2016-10-04 09:13] Luceos commented on #915
Ok, let's move this to stable for now and discuss how to solve this in the future. @jordanjay29 please summarise some of the options.

[2016-10-04 09:15] jordanjay29 commented on #915
Just a suggestion to use a bash script instead of PHP. Our extension devs are usually savvy enough to run a command line script, let them execute an config.sh or something, enter in their custom path values and vendor/package names, and let the script fix all the files. Seems like this would be more useful and reliable than a PHP method.

Doesn't matter to me when it gets done, the extension gener

[2016-10-04 09:18] sijad commented on #915
I'm agree with jordanjay29,
I personally prefer a bash command or clone a repository or even a [yeoman](http://yeoman.io/) generator.

[2016-10-04 09:40] cristianciofu commented on #1036
Apparently the issue was linked to my first server _(no ssh access / files uploaded through FTP)_.

Now, on the new one everything works great...

So we can close this for now I guess.

[2016-10-04 09:40] #1036 closed

[2016-10-04 11:19] Luceos commented on #915
I am fully against using any other language for this. Instead I think it should be possible to easily create a commandline generator using PHP. Something like [muse](https://github.com/asika32764/muse) could help kickstart this. I think the team has sufficient experience to easily get something like this up as a separate package.

[2016-10-04 11:20] Luceos commented on #915
@franzliedke or @sijad can either of you drop the generator command for now? Please acknowledge here if you do so.

[2016-10-04 11:21] Luceos opened #1045 "Drop skeleton generator for now"
Let's drop the skeleton generator for now. Switching to composer driven stack has made the command non-functional.

See original issue #915

If @franzliedke or @sijad could take of this, that would be great! Please acknowledge.

[2016-10-04 17:26] sijad commented on #1045
I'll PR if that's ok?

[2016-10-04 17:27] Luceos commented on #1045
@sijad I was hoping you would ;)

[2016-10-04 17:28] Luceos commented on #1045
For your information this requires:

- removing the command class itself
- remove the registration in the service provider (somewhere)

[2016-10-04 17:29] sijad commented on #1045
how about https://github.com/flarum/core/tree/master/stubs/extension ?

[2016-10-04 17:33] Luceos commented on #1045
Ah yes forgot about those. Good thinking.

[2016-10-04 20:28] UrGuardian4ngel commented on #1024
Those diffs can also be suppressed using [`.gitattributes`](https://www.kernel.org/pub/software/scm/git/docs/gitattributes.html), [marking them as binary files](https://www.kernel.org/pub/software/scm/git/docs/gitattributes.html#_marking_files_as_binary). E.g.:

[code]

But I'm not sure in which ways this will affect the size or 'ballooning' of the repository (if at all).

[2016-10-04 23:53] andypmw commented on #322
Hi, I am new to open source software contribution.
I am interested to do this task

[2016-10-05 04:31] Luceos commented on #322
Hello @andypmw welcome to the community! In order to pick up this task you need to have a proper development environment. This issue is related to the suspend extension and as such all modification will probably be taking place in that repository. Fork that repository, set it up in a workbench or using franz liedkes' studio package. The official forums has a sticky written by myself on how to kick

[2016-10-05 15:23] wion commented on #986
I was kind of hoping to see this addressed in beta6. I still [get complaints](https://discussion.csf.community/d/25-roll-call/25), understandably, about the lack of proper site identification in email notifications from the system, which is still due to the crude way Davis Header extension and core header markup work together. I know this is impacting impressions of your community, and not in a go

[2016-10-05 22:29] #1045 closed

[2016-10-05 22:31] franzliedke commented on #915
For the future: Writing this in Bash or any other language does not help much, as it does not fix the underlying problem, which is how to make Composer load the generated work-in-progress extension. A tool like my [Studio](https://github.com/franzliedke/studio) does something like this, but I don't think it should be required for something like this.

[2016-10-06 07:07] Luceos commented on #915
Generating the code for an extension - in my opinion - should not be a responsibility of the Flarum package at all. If we are going to maintain such a generator, it should probably be a commandline tool, the same way Studio or Composer is. We can even have such a tool create a clean checkout from an existing skeleton repo, have it automatically replace some variables, ask for a new git remote and

[2016-10-06 20:14] franzliedke commented on #1024
If we decide to commit the minified files, then yes, we should do that. Good idea, @UrGuardian4ngel. :)

[2016-10-06 20:19] franzliedke commented on #1044
Thanks for bringing this up.

I don't see an immediate use-case for texts that are longer than 64K (which is the limit of the `TEXT` type). What do other people think?

[2016-10-06 20:41] franzliedke commented on #347
@Nerdcoat Which version exactly?

[2016-10-06 20:56] franzliedke commented on #1042
Hello @marcozambi, thanks for putting so much work into this!

Judging from [your TXT file](https://dl.dropboxusercontent.com/u/25636589/flarum_error_500.txt), my first guess is that we first run a query that matches the text content against the search term, but **returns all results**.

Thus, the next query, which is supposed to, then has these ridiculously long WHERE and ORDER BY clauses. (Thus,

[2016-10-06 20:58] franzliedke commented on #1006
@tobscure What are your general thoughts on what the UI should look like here?

[2016-10-06 21:04] marcozambi commented on #1042
Hi @franzliedke, I could give it a try but since I have zero experience with Flarum code, it might take some time. But I will try indeed!

[2016-10-06 21:52] franzliedke commented on #915
I am fine with that as well. That would probably mean that I will build a minimal skeleton functionality into Studio.

[2016-10-06 22:19] terabin commented on #1042
Can I give a try?

[2016-10-07 20:45] marcozambi commented on #1042
Ok, I started to read the code and try to grasp the Laravel classes behind this functionality, and I kinda got a bit how it works. My way into knowing Laravel DB interface is still a long journey, but... good news.
Simply adding a limit of 100 returned discussions in the code like this;
`$discussionIds = Post::where('type', 'comment')
            ->whereRaw('MATCH (`content`) AGAINST (? IN BOOLEAN

[2016-10-07 20:55] franzliedke commented on #1042
That's great to hear, thanks for looking into it!

I don't think we need to make this configurable - it all depends on how many search results we want to show. @tobscure does the interfaces, he should decide.

For the future we should probably keep in mind that we might want to add a "Load more" button - this would then result in also adding an OFFSET clause to the query.

[2016-10-08 07:57] marcozambi commented on #1042
Thanks Franz, actually you're perfectly right. The added OFFSET solution is perfect because hardcoding an arbitrary maxmimum number of results excludes a large number of results in large forums with hundreds of thousands of discussions.
A "buffered" solution, which returns a relatively large number of results with the first query, then followed by more OFFSET-ed queries if necessary could be consi

[2016-10-08 09:27] sijad commented on #979
should other packages like `spin.js` or `moment`... be updated?

[2016-10-08 09:47] sijad opened #1047 "Only one default export allowed per module Syntax Error"
when I run `./scripts/compile.sh` in terminal I get this errors:

[code]

and

[code]
## Bug report
- Version of Flarum: master brach
- PHP version: 5.6.26
- Hosted environment: local
## Additional comments
## Log files

[code]

[2016-10-08 09:58] sijad commented on #1047
these files have same error:

[code]

My setup info:

[code]

[2016-10-08 10:05] sijad commented on #1047
4ca50840094435b7d8d9c95170e1dd736916fba2 fixes this. I'm not sure if it's a real issue or it's because of my setup, if it's ok please let me know to PR.

[2016-10-08 10:11] sijad opened #1048 "Hide diff for compiled js files"
suggested in https://github.com/flarum/core/issues/1024#issuecomment-251503338

as `js/*/dist/app.js` are auto generated files and also Babel add a lot's of ugly stuff this can help reading commits.

[2016-10-11 13:30] alff0x1f opened #1050 "Can't change email after authorization via social network (need password)"
Current version at discuss.flarum.org.

I register on forum with twitter, forum ask my email. I type, but make mistake and enter wrong address. When I didn't get confirmation email, I understand my mistake and try enter right email, but i can't, because forum ask confirmation password for changing email.

[2016-10-11 15:54] dav-is opened #1051 "JavaScript Styling isn't quite to Standard"
Intro
======

I was wondering recently why Flarum didn't have a system like StyleCI to check JavaScript. I did some research and found [BitHound](https://www.bithound.io). I spent some time messing around with it and think I've figured out a pretty good configuration. It uses the [Airbnb Javascript Style Guide](https://github.com/airbnb/javascript) as described in the [contribution guide](https://

[2016-10-13 16:41] TheOfficialDoc opened #1052 "Paste bin raw embed"
when you give pastebin.com/raw/0000 url it will type error, without raw it works fine

[2016-10-13 18:25] TheOfficialDoc commented on #1052
Thx @JoshyPHP for fix

[2016-10-13 18:26] #1052 closed

[2016-10-13 19:11] JoshyPHP commented on #1052
Sure thing. In the meantime, if you want to embed a Pastebin you can use its canonical URL.

[2016-10-14 21:46] RockFridrich commented on #283
+1

[2016-10-15 05:20] tobscure commented on #1044
@franzliedke On the other hand, is there a good reason we should stop people from writing posts longer than 64K? I am sure that someone, somewhere, would have a use-case...

[2016-10-15 05:24] tobscure commented on #1051
See https://github.com/flarum/core/issues/879

[2016-10-15 05:24] #1051 closed

[2016-10-15 05:30] rwalkos commented on #283
It is imperative for admin area to have users and e-mail with ability to sort by join date and possibly confirmed or not. I would think it should be a part of core.

As for the front end I think it needs to be very customizable. Such as visibility for different groups like guest, member, mod, admin etc. Would also be nice to be able to show post counts likes etc. but also have that customizable. S

[2016-10-15 05:42] rwalkos commented on #1044
I have seen may post that are really really long. Most of the time it's a review of some product or a walk-through of some build process like building a model plan or a home movie theater. But then again, lots of people just post 2 or 3 post right after and type reserved for future additions. <- That is kind of a pain if it could be avoided.

[2016-10-16 07:14] wackyMole commented on #897
Just wanted to comment here, because I recently dealt with this in another project. Here's how I solved that problem (This is just for input, feel free to take it or leave it).

When a user attempts to log in using OAuth from another provider, and the application discovers an email collision, the application will inform the user that a user account with the specific email address already exists.

[2016-10-16 17:18] kulga opened #1054 "Quoting code block + text produces gibberish"
---

![](http://i.imgur.com/dNMGR2A.gif)
## Bug report
- Version of Flarum: latest (dev-master)
- Website URL where the bug is visible: https://devflarum.xyzz.work/
- The webserver you are running: nginx/1.11.4
- PHP version: PHP 7.0.12
- Hosted environment: VPS
- Hosting provider: Ramnode
## Flarum info

[code]
## Additional comments

Steps to reproduce
- Wrap codeblock around a string of text
-

[2016-10-16 17:23] franzliedke commented on #1044
Good point. On the DB level, there does not seem to be much difference in implementation, so it should be fine.

[2016-10-16 17:48] sijad commented on #879
isn't https://github.com/airbnb/javascript/blob/master/linters/.eslintrc?
if you still have plan to use airbnb. a few dev dependencies should be added to `flarum-gulp` tough.

[2016-10-16 18:27] dav-is commented on #879
I found this config works well with Flarum:
[code]

[2016-10-16 20:54] sijad commented on #879
here's mine: https://github.com/sijad/flarum-ext-links/blob/master/.eslintrc

[2016-10-16 20:59] sijad commented on #879
[jsx-filename-extension.md](https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-filename-extension.md) consider #1030

[2016-10-17 05:34] Btitle opened #1055 "Bate6 in <head> can not normally display description"
Bate6 in <head> can not normally display description

[2016-10-17 16:58] franzliedke commented on #1055
Sorry, but we need much more details than a duplicate issue title and description. Please help us help you by providing more information, most of which is described in the issue template that you saw when creating the issue.

The most important questions your issue should answer are the following:
- What did you try to do?
- What happened?
- What did you expect to happen instead?
- For extra credi

[2016-10-17 16:58] #1055 closed

[2016-10-19 11:31] tobyzerner opened #1056 "`php flarum migrate` crashes in-between versions"
Originally reported here: https://discuss.flarum.org/d/4011-upgrade-to-beta-6

On a beta 5 installation, after you run `composer update` to pull the beta 6 code, immediately running `php flarum migrate` produces the following error:

[2016-10-19 12:32] HavocKKS commented on #837
Isn't that feature already in B6 ?

[2016-10-19 19:07] franzliedke commented on #837
@HavocKKS It's not quite done, as Toby explained above.

[2016-10-20 07:18] wiwatsrt opened #1057 "Meta description not show"
Meta description not show
## Bug report
- Version of Flarum v0.1.0-beta.6
## Additional comments

I set description in admin but not show in page
## Code

[code]

[2016-10-20 09:57] deseven opened #1058 "[Tags] Incorrect permissions logic"
## Bug report

I already described everything [here](https://discuss.flarum.org/d/4017-permissions-aren-t-working), please take a look.

TLDR - there are at least 2 bugs:
1. Removing tag permissions in admin panel doesn't remove permissions in database.
2. If there are tag-based permissions, global permissions are ignored.

I believe that second one resides in `/vendor/flarum/flarum-ext-tags/src/A

[2016-10-21 17:05] steelbrain opened #1059 "Cannot read property default of undefined"
## Bug report
- Version of Flarum: Below
- The webserver you are running: nginx, bug irerlevant
- PHP version: 5.6.x
- Hosted environment: vps
## Flarum info

This is the versions part of `composer.json`

[code]
## The Bug

I see this bug everytime I install a third party extension. If I had to guess, it happens everytime they do NOT have a default export, it should be handled gracefully IMHO.

<i

[2016-10-21 21:06] tobscure commented on #1059
Many third party extensions are not be compatible with beta 6 yet. Which version of Flarum are you actually using? (The composer.json section just specifies a version constraint; to find out the specific version that's installed you can run the `php flarum info` command.)

[2016-10-21 21:08] steelbrain commented on #1059
I actually am running flarum in a docker container and the version of php installed on host doesn't have as much extensions. I installed it yesterday with the composer command suggested in installation docs so I think it's the latest one out :)

[2016-10-21 21:11] tobscure commented on #1059
Sorry, I'm talking about Flarum extensions, not PHP extensions. From the screenshot it looks like you've at least got `sijad/flarum-ext-auth-steam` installed – can you try disabling that by manually removing it from the `extensions_enabled` array in the `settings` database table?

[2016-10-21 21:11] tobscure commented on #1059
Or just run `composer remove sijad/flarum-ext-auth-steam`

[2016-10-21 21:13] steelbrain commented on #1059
Thanks @tobscure that of course solves the problem. But I was wondering if there was a problem in core not handling empty modules :)

If it's an issue of compatibility tho, from the extension's side, then it seems good. I'll close this issue and wait for beta 6 compatibility in the third party extensions

[2016-10-21 21:17] tobscure commented on #1059
Yeah, true, it should fail gracefully if the module isn't found. I'll push a fix soon!

[2016-10-22 15:40] Pilvinen commented on #283
Definitely should part of the core. I'm surprised that it isn't there already.

[2016-10-23 10:11] vivex commented on #1047
+1 facing the same error in `v0.1.0-beta.6`

[2016-10-24 08:00] thorerik commented on #1042
Adding support for eg. Elasticsearch as a search backend is perhaps a good idea. Though possible Fulltext search in mysql/postgres are less than ideal without large full-text indexes to speed up the process.

[2016-10-24 08:55] fdutheil commented on #290
I'd like to add a +1, but I'm not sure of the status of this feature request: is it already upstream and needs testing or is it cancelled after the WIP has stalled?

[2016-10-24 20:00] sijad commented on #1059
why can't I reproduce this error?

[2016-10-28 11:16] WebNawi commented on #1042
Thanks for finding this clue.

Now, There will not any "something get wrong..." message error anymore 👍
My dedicated server still get quick search result within secon or two with value = 100.

But, I decide to use value 50 for 2M+ posts.. forum. And trying to switch between Relevance, Oldest, Newest, Top selection... and running smooth..

This is common problem facing the big forum owner.
I used t

[2016-10-28 11:19] WebNawi commented on #1042
Here they're.
As you can read.. Standard vs Full Text search available to choose.
![full](https://cloud.githubusercontent.com/assets/16497413/19804826/06880718-9d3b-11e6-8c59-fdaceb1dcd0d.jpg)

[2016-10-28 21:03] HostioSolutions opened #1060 "POST /api/admin-mail Internal Server Error"
Mail is not working
Debug error:

POST https://xxxx.nl/api/admin-mail
Internal Server Error
## Bug report

0.1.0-beta.6.
/api/admin-mail
Nginx
php 7
Ubuntu 16.04 nginx

nginx vhost:
[code]

[2016-11-03 16:55] lecteur opened #1061 "Error 500 : Issue when i try to reset my password (flarum.org)"
---

## Bug report
- Version of Flarum: Flarum v0.1.0-beta.6
- Website URL where the bug is visible: https://discuss.flarum.org/
- The webserver you are running: Apache
- PHP version: 5.6
- Hosted environment: vps
- Hosting provider: N/A

## Flarum info

I try to reset my password, but i have an issue with discuss.flarum.org when i confirm the new one, i have a 500 error
Can you check please

[2016-11-03 17:38] Magicalex commented on #1061
This may be because your password at least 8 characters.

[2016-11-04 01:28] dcsjapan commented on #194
Just so!

That might be worth investigating as an idea for a third-party extension. I think it would be sufficient if Flarum could offer a robust system to provide for both transliteration and unicode, with enough configuration options to allow admins in any region to tweak its behavior to their liking.

[2016-11-04 01:37] yihui commented on #194
plus an option to disable slugs completely please... :)

[2016-11-04 02:24] lecteur commented on #1061
Merci Magicalex, il n'y avait pas d'indication mais c'est normal c'est qu'une beta ! Sinon magnifique ton forum je l'ai connu sur Wareziens ;)

[2016-11-04 13:41] believer-ufa commented on #194
Interesting logic, but I believe that you create too much of an issue out of this topic. We just need the URLs, which will be have some info about conversation. After all, nothing terrible will happen if the url will be slightly incorrect. But there is better to have at least something: it allows you to add the search engines additional information about the page for better SEO optimization.

[2016-11-04 13:44] franzliedke commented on #194
On the other hand I'm not sure what search engines do with nonsensical information (such as from a wrong transliteration) in the URL. Thanks for bringing it up, @yihui and @firegurafiku!

[2016-11-05 17:52] Kakifrucht opened #1062 "Start/reply to discussions permission not working"
As per [this](https://discuss.flarum.org/d/4174-start-discussion-permission-not-working) discussion.
Reproducible on any beta.6 forum. A user can both reply and start discussions in tags he has no permissions in. This also applies to the "Blog" tag on discuss.flarum.org.

[2016-11-07 11:52] #1058 closed

[2016-11-07 11:52] #1062 closed

[2016-11-07 12:54] Balancer commented on #53
The field `title` isn't used in foreign keys and therefore has no such restrictions.

80 characters for the title - it's VERY, very little to complete the work: - /

[2016-11-07 19:44] dav-is commented on #509
May I suggest [Laravel Scout](https://laravel.com/docs/5.3/scout)?

[2016-11-07 20:26] Magicalex commented on #1047
@sijad J'ai la même erreur. De plus le message d'erreur est explicit. `Only one default export allowed per module.`

[2016-11-07 21:07] sijad commented on #1047
as it's not only me here a PR #1063
it's really hard to contribute because of this

[2016-11-07 21:33] #1047 closed

[2016-11-08 14:05] Luceos commented on #851
@tobscure this proposal will also allow for service providers to be added, are you considering adding an `Extend`'er for that as well, that might be really helpful for the more complex extensions that want to stay close to the Laravel way of handling packages.

[2016-11-08 22:00] tobscure commented on #851
@Luceos Sure!

[2016-11-09 03:01] tobscure commented on #850
Here's my idea for a new migrations API which auto-prefixes stuff.

### Format

Migration files are formatted just like the new extension API, i.e. they return arrays of "tasks". But instead of each item in the array being a callable, it can be one of three things:

* An instance of `Flarum\Database\MigrationInterface` which has `up` and `down` methods, or
* An array containing `up` and `down` clo

[2016-11-11 01:44] dcsjapan commented on #194
Scratch that ... I just copied and pasted a Google URL with Safari and ended up with a string of very non-human-readable percent encodings in it. I had been thinking that Safari fixes percent-encoded URLs when copying to the clipboard, but that doesn't seem to be the case after all. So this is definitely something to consider, too.

[2016-11-11 10:52] PeterPlucinski opened #1065 "Zend Stratigility Deprecated Message"
Initial istall of flarum is showing the below deprecation message at the top of the page.

"Deprecated: The third argument to Zend\Stratigility\MiddlewarePipe() ($out) will be required starting with Stratigility version 2; please see https://docs.zendframework.com/zend-stratigility/migration/to-v2/ for more details on how to update your application to remove this message. in /vagrant/flarum/vendor

[2016-11-11 14:53] qius416 commented on #1065
Looks like zend-stratigility updated branch aliases ...
https://github.com/zendframework/zend-stratigility/commit/6e1bd05479851fc5bc470795b67dd628af5bf555

[2016-11-12 02:14] #1065 closed

[2016-11-15 00:49] #1061 closed

[2016-11-16 02:17] fkndean commented on #802
Is this still being considered? I'd like to do some bbcode or use markdown in the tag description. Would be very useful 👍

[2016-11-18 11:34] datio commented on #157
Having to scroll up to the top of the page to see the title, possibly triggering any in-between unloaded content to load, is understandably a no-go.

On the other hand, I don't think it'd be wise to keep the title displayed on limited screens all the time.

Scrolling up the page a few pixels should IMO bring into view the respective amount of the (initially hidden) title element height.

http://ux

[2016-11-19 11:51] franzliedke opened #1069 "Update to Stratigility 1.3"
Updating will require some changes in our middleware stack to stay forward-compatible with the upcoming version 2.0 of Stratigility, see https://docs.zendframework.com/zend-stratigility/migration/to-v2/.

Important: MR #1066 should also be reverted as part of this.

[2016-11-19 15:40] franzliedke commented on #870
@tobscure Can you come up with another example where we *need* this change? The one with the cookie data seems a bit far-fetched. ;)

[2016-11-19 15:44] franzliedke commented on #979
Leaving this open as MR #1064 introduced a regression.

I assume you, @sijad, will take care of it? :)

[2016-11-19 19:05] tisuchi commented on #258
I am using mailgun, but have issue. None of the email is triggering. My configuration is like follows-

[code]

Can anybody help me?

[2016-11-19 19:07] datitisev commented on #258
@tisuchi This isn't the proper place to discuss this. All the SMTP UI does is set the values into the database. Either your configuration is wrong, or you haven't triggered any events that would send an email.
Please create a discussion at https://discuss.flarum.org with the Support tag

[2016-11-19 20:08] sijad commented on #979
yes I'll

[2016-11-19 21:40] tobscure commented on #870
@franzliedke `getServerParams` is probably a better example. Say, getting the request IP address. We pass the IP address along explicitly (as a command parameter) in `StartDiscussion` and `PostReply`... but what if you wanted to make an extension that logs the IP address for *all* actions? (editing/deleting posts, etc.)

Basically any source of information from [ServerRequestInterface](https://git

[2016-11-19 21:44] franzliedke commented on #870
Yeah, I can see that, but on the other hand an extension that would log data for every action would probably be implemented on a different level anyways (not hooking into each and every action), right?

Just making sure we have actually encountered this problem before...

[2016-11-19 21:50] tobscure commented on #870
Not necessarily? I mean, it depends on the purpose of the extension (I didn't say anywhere that it would log data for *every* action). My point is that, while we may not have a well-defined use-case for this at the moment, I'm confident that we can't *rule out* that an extension may want access to this data – and given that there's no workaround, this is very concerning.

[2016-11-19 22:29] tobscure commented on #859
I am in favour of getting rid of `target=_blank`. The back button will still work fine since we update the URL during infinite scrolling. The post composer prompts before letting you leave the page if you have unsaved content, and one day we will have drafts + autosaving. We have no other good reason to use it.

[2016-11-19 22:44] tobscure commented on #986
Is this still an issue?

Since the use-case for this kind of granular control is probably not all that common, my preferred solution would be to:

* Set the forum title to whatever you want to appear in <title> and emails, and...
* Make a cosmetic change so that the <h1> has different content, either by:
  * Overriding <h1> text in CSS (i.e. http://stackoverflow.com/a/14261898), or...
  * Writing

[2016-11-20 12:41] tobscure commented on #1024
Thought about this a bit more today – I think we should go ahead and do it, and commit minified files to the repo, but **not commit sourcemaps**. If someone wants to use a sourcemap they can generate it themself.

[2016-11-20 13:02] datitisev commented on #1060
@HostioSolutions Are you using any 3rd-party extensions that add that endpoint? I just updated to the latest `dev-master` (latest commits) and I get that the route is not found.

[2016-11-20 21:21] tobscure commented on #802
I think simply allowing HTML might be best, for two reasons:
* More flexibility, which is a good thing when it's the administrator who's the one editing tag descriptions
* BBCode and Markdown are extensions in themselves, and we want to avoid extension-extension interactions where possible

[2016-11-21 12:28] Luceos commented on #258
@tisuchi you're missing encryption, for 587 it should be `tls`.

[2016-11-21 12:31] dav-is commented on #1024
Minified files are automaticly excluded from diffs so that should solve the issue of messy diffs.

[2016-11-21 13:06] liuminghao233 opened #1071 "beta 6 can not log out."
---

## Bug report
- Version of Flarum: 0.1.0-beta.6
- Website URL where the bug is visible: no
- The webserver you are running: nginx
- PHP version: 7.0.13
- Hosted environment: localhost VM 12
- Hosting provider: personal

## Flarum info

[code]

[2016-11-21 13:07] liuminghao233 commented on #1071
post pic again:
![image](https://cloud.githubusercontent.com/assets/13027589/20483713/78f5f6e2-b02e-11e6-919e-68b37650ec93.png)
![image](https://cloud.githubusercontent.com/assets/13027589/20483716/7e296e28-b02e-11e6-9483-22e56c52866b.png)

[2016-11-21 15:24] Luceos commented on #1071
Offtopic, I think the pics weren't showing because they were in the code blocks (tripple backticks). Nice report!

Seems to be caused by a csrf token mismatch.

[2016-11-22 01:36] tisuchi commented on #258
@Luceos

Thanks for you replay. But its not working with encryption too.

[2016-11-22 02:09] JuanFontes commented on #883
+1

[2016-11-22 07:40] Luceos commented on #258
@tisuchi please open a thread on the forums under support so we can track this down more easily.

[2016-11-22 09:57] liuminghao233 commented on #1071
@Luceos haha ,that's why i repost the pic again.

[2016-11-23 05:34] tobscure commented on #850
Been mulling this over some more, and I have changed my mind and think we should keep the migration structure as it is for now. Contrary to what I said earlier, I think having one migration per release is actually more arbitrary than one per action, doesn't offer any real tangible benefit, and will probably just pain for contributors during development. And same with sequential numbers, as we have

[2016-11-24 19:39] JasonLabs commented on #1013
I signed up yesterday on the flarum community, and I received the confirmation email, but when I clicked on the link the following message was displayed in a blank browser:

Invalid confirmation token

[2016-11-24 22:20] tobscure commented on #1013
What email client did you use? I'm suspicious that the email client is visiting the link in the background when you open the email (to check for viruses or whatever) and thus activating the account + invalidating the confirmation token before you even click on the link yourself.

[2016-11-25 14:04] liuminghao233 commented on #1071
but, this bug will not show if i use XAMPP PHP7.

[2016-11-25 14:26] liuminghao233 commented on #1071
set session file's owner to nginx and the problem fixed

[2016-11-25 14:26] #1071 closed

[2016-11-27 23:46] tobscure commented on #190
From #1068: I am planning some design changes for the next release which will make this unnecessary.

[2016-11-27 23:46] #190 closed

[2016-11-28 00:15] tobscure commented on #1024
Maybe we can set up a bot to commit minified JS so it doesn't clutter up / cause conflicts in PRs. eg. https://github.com/lhorie/mithril.js/commits/rewrite?author=Gandalf-the-Bot

[2016-11-28 00:43] #726 closed

[2016-11-28 07:50] wion commented on #986
@tobscure,

I guess it's not an issue then.

We actually went back to a single bar to avoid the headache altogether. But we might try what you suggest in the future.

[2016-11-28 07:55] tobscure commented on #986
Glad to hear it :)

[2016-11-28 07:55] #986 closed

[2016-11-28 14:18] JasonLabs commented on #1013
I use gmail as the email client for my domain. https://gsuite.google.com/

[2016-11-29 00:13] datitisev opened #1076 "`app.modal.show` errors with "TypeError: Cannot set property 'retain' of undefined""
## Bug report
- **Version of Flarum**: dev-master (v0.1.0-beta.6)
- **The webserver you are running**: Apache
- **PHP version**: 7.0.8
- **Hosted environment**: Local
- ~~Hosting provider: ?~~

## Flarum info

[code]

## Additional comments
JavaScript Error:

![JavaScript Error with app.show.modal](http://i.imgsafe.org/cc66983e99.png)

Corresponding Erroring Code:

![Corresponding Code](http://i.i

[2016-11-29 01:58] dav-is commented on #1076
Seems to work in my code: https://github.com/dav-is/flarum-ext-securehttps/blob/master/js/admin/src/main.js#L6

[2016-11-29 07:32] #656 closed

[2016-11-29 07:36] dav-is commented on #988
Duplicate

[2016-11-29 07:36] #988 closed

[2016-11-29 07:56] Luceos commented on #1065
@tobscure this issue shouldn't be closed already. The fact that a deprecated warning is being shown on the front page is not a good thing. Shouldn't those be prevented by adding an error_reporting line somewhere.. @franzliedke what is your opinion?

[2016-11-29 08:35] SteveAzz commented on #1065
@Luceos As a temporary fix untill the next realse would be explicty tell which version to install from your `composer.json` such as

[code]

Or
[code]

[2016-11-29 08:40] Luceos commented on #1065
@SteveAzz [I am aware](https://github.com/flarum/core/issues/1066). My point is about showing deprecated warnings, which should not show up at all.

[2016-11-29 16:37] indiecore-fm commented on #822
Looking at support for KeyCDN. It's a great cheap option for many people.

[2016-11-29 22:44] paulodamian commented on #994
I have this problem, or something very similar.

I just registered on https://discuss.flarum.org
Got the email, but when I click the link the page says: Invalid confirmation token
If I click the resend confirmation email link, it says "You do not have permission to do that."

I was just registering to ask a few questions about forum speed before try it by my self

[2016-11-30 00:04] tobscure commented on #994
Yeah I can reproduce now. In fact, you need only sign up a new account and then reload the page after a few seconds to see that the account has magically been activated – somehow the activation URL is being visited without ever opening the email!

I did some investigation and I think that SparkPost, the SMTP service we use on discuss.flarum.org, may be the culprit... I've opened a ticket with them

[2016-11-30 00:05] #994 closed

[2016-11-30 22:16] #979 closed

[2016-12-01 01:40] datitisev commented on #1076
@tobscure It works now. Thanks.
Glad to hear new API changes will _hopefully_ make things easier 😉

[2016-12-01 01:40] #1076 closed

[2016-12-01 10:56] franzliedke commented on #951
@tobscure You asked which of the two APIs I like better:

[code]
or
[code]

I'd go with the second. We control the interface (i.e. the method names define the contract of the class), it fits the "Tell, don't ask" principle, and the first one would violate the Law of Demeter.

(Plus, I was surprised that the methods you called on the collection mutate the collection directly - which doesn't fit ver

[2016-12-01 12:01] tobscure commented on #951
Hmm, so it'd end up looking something like this:

[code]

What about giving items priorities so that they can be ordered?

It just seems to be a lot of functionality for the view class... all implemented twice (for head and foot).

What about an API like the [JS ItemList class](https://github.com/flarum/core/blob/master/js/lib/utils/ItemList.js)? That's kind of the exact functionality we want for

[2016-12-01 14:13] franzliedke commented on #951
I'm okay with a custom collection class.

[2016-12-01 17:15] sijad commented on #951
if it does not make things conflicted it's possible to store keys in [http://php.net/manual/en/class.splpriorityqueue.php](SplPriorityQueue)

[2016-12-02 08:46] xtrasmal commented on #1069
Any status?

[2016-12-03 09:22] tobscure commented on #865
@sijad

We probably won't support this – not only is it technically difficult (we'd have to dive into the LESS parser), but we want to encourage theming to be done additively so that when we change our CSS, themes won't completely break (there will still be Flarum CSS rules to fall back to).

The approach we're taking to locale-specific CSS is to have a global CSS file that's downloaded for all vi

[2016-12-03 09:42] sijad commented on #865
doesn't that make produced css bigger and bigger? specially if Flarum going to allow have multiple theme available (if all themes files going to be compiled and merged to a single css file).

it's possible to use something like this too, right?

[code]

that sound good 👍

[2016-12-06 22:07] dav-is opened #1078 "Header No Longer Fixed After Search"
## Bug report
- Version of Flarum: dev.master
- Website URL where the bug is visible: https://discuss.flarum.com
- Browser: Safari & Chrome iOS 10 (Probably affects all mobile browsers)

## How to Replicate
1. On index, click hamburger button, then search input box
2. Type "foobar" and press return
3. Scroll down (see the nav bar is no longer in a fixed position)

[2016-12-06 22:47] kenygamer opened #1079 "404 Error Issue page that Displays"
## Bug report
- Version of Flarum: 0.1.0-beta2.0
- Website URL where the bug is visible: https://community.survivaltimep.pe.com
- Apache/2.4
- PHP version: 5.5
- Hosted environment: Shared
- Hosting provider: https://www.hostinger.es

So When A 404 error hapenns you can see the following: community.survivaltimepe.com/Test So how to fix that and show the directory /error/404.html instead of it. tha

[2016-12-06 22:49] kenygamer opened #1080 "It doesnt send confirmation email when registering accounts"
## Bug report
- Version of Flarum: 0.1.0-beta2.0
- Website URL where the bug is visible: https://community.survivaltimep.pe.com
- Apache/2.4
- PHP version: 5.5
- Hosted environment: Shared
- Hosting provider: https://www.hostinger.es

So When you add and rechecked email Hapenned even a day ago and you dont receive confirmation email hapenned to Everyone Even me. Try register ur account at the top

[2016-12-07 00:42] dav-is commented on #1080
This is an issue with your environment. Please post on the support section of our forums instead.

[2016-12-07 15:54] kenygamer commented on #1080
@dav-is I can't . I have the same issue. I signed up at the forum and I do not receive my confirmation emaill tryed twitter and it will still request me to confirm email but idont get anything... I tryed many times with different email address

[2016-12-07 16:35] kenygamer opened #1081 "Changes in the js files of the Admin /admin/ cpanel directory doesnt appear deleted cookies, changed device and everything."
Version of Flarum: 0.1.0-beta2.0
Website URL where the bug is visible: https://community.survivaltimepe.com
Apache/2.4
PHP version: 5.5
Hosted environment: Shared
Hosting provider: https://www.hostinger.es
So When I do changes in the js files of the admin directory, I want to change the text of the dashboard and after changes made they dont appear. I didnt restart hostinger free account becuase im

[2016-12-07 19:36] dav-is commented on #1081
Seriously stop posting these issues on GitHub. If you need help, post on discuss.flarum.org

[2016-12-07 23:55] datitisev opened #1082 "[Mentions] Pointing to deleted users keep the username in mention"
## Bug report
- Version of Flarum: `v0.1.0-beta.6` or maybe `dev-master` (it's Flarum Discuss)
- Website URL where the bug is visible: https://discuss.flarum.org/d/231-view-count/2
## Additional comments

The mention pointing to a message by "Kayz" is the first post. The author's account has been deleted, but the mention still shows their username, and the link of the mention goes to https://discu

[2016-12-08 01:12] dav-is commented on #1082
#665 ;)

[2016-12-08 01:38] datitisev commented on #1082
Oh, sorry. I hadn't seen this already submitted. My bad.

[2016-12-08 01:38] #1082 closed

[2016-12-08 01:59] kenygamer commented on #1081
Dear @dav-is,

As said in my last post, I do not have the possibility to register in the Flarum forums because I have not received the confirmation email.
After several failed attempts, and also attempting with multiple email accounts from different providers, there is no solution.

[2016-12-08 02:00] dav-is commented on #1081
Try refreshing the page after registering

[2016-12-08 02:03] kenygamer commented on #1081
@dav-is,

I have tried to perform that for several times, even rebooted my own device and changed to computer in some occasions.
There is no solution to this problem, and this is also happening to me in my Flarum.

[2016-12-08 05:04] tobscure commented on #1081
Check your spam box.

[2016-12-08 09:20] MichalKarnicki commented on #274
Hi @tobscure , just wanted to ask what the update of milestones actually means :)? I'm interested in using Flarum and making use of Laravel auth for Flarum, hence I wonder whether I should be looking into a solution myself or there's someone maybe working on it already? Thank you!

PS I'm new to Flarum and super excited about it!

[2016-12-08 09:24] tobscure commented on #274
@MichalKarnicki We're currently planning some big changes to the Flarum codebase — I spent a little bit of time thinking about Laravel integration as part of this and I have some ideas. Stay tuned :)

[2016-12-08 09:28] MichalKarnicki commented on #274
@tobscure This is exciting 💯 ! From the issues and comments I'm pretty sure that integration will make a LOT of people happy :)! I planned to deploy Flarum shortly, but perhaps it's worth a wait though. Do you think the changes you mentioned can make it in in a month time? (Considering there's some downtime in December, too :) ). (Alternatively, are these changes developed publicly so we can have

[2016-12-08 10:10] tobscure commented on #274
@MichalKarnicki Sorry I don't think Laravel integration will be ready in a month. The changes will be developed publicly starting soon, they're still in the planning phase at the moment.

[2016-12-08 11:52] MichalKarnicki commented on #274
@tobscure Appreciate the quick response! No problem, I'm excited you guys will be working on the changes publicly. Maybe I'll be able to contribute. Once again, thank you for Flarum and good luck with planning! 👍

[2016-12-08 13:33] Luceos commented on #1081
@kenygamer

I'm positive that support for such an outdated version cannot be provided. You can expect proper support once you've upgraded to the latest version, which is beta 6 right now.

[2016-12-08 13:40] jordanjay29 commented on #1080
Old version. Closing this until we can sort this out in more depth/confirm it's still an issue in beta 6. If you're having problems with discuss.flarum.org, open an issue here or find us on Gitter (@jordanjay29, you can DM me and we'll sort it out).

[2016-12-08 13:40] #1080 closed

[2016-12-08 13:41] jordanjay29 commented on #1081
Old version. Closing this until we can sort this out in more depth/confirm it's still an issue in beta 6. If you're having problems with discuss.flarum.org, open an issue here or find us on Gitter (@jordanjay29, you can DM me and we'll sort it out).

[2016-12-08 13:41] #1081 closed

[2016-12-08 14:45] Luceos commented on #1079
Hello @kenygamer , as this is an older version any comment made my rely on a version that you have not installed. Nevertheless, custom error pages has been a feature request for a while, see:

- https://discuss.flarum.org/d/3544-please-help-me-configurate-custom-error-pages
- https://github.com/flarum/core/issues/596

With Flarum in development, it's only a matter of time that the feature will be

[2016-12-08 14:47] jordanjay29 commented on #1079
Duplicate of #596.

[2016-12-08 14:47] #1079 closed

[2016-12-09 15:29] Jurgyte commented on #1057
Same here. It seems that in Flarum "flarum/core/src/Http/WebApp/WebAppView.php" is small section:

        $view->title = $this->buildTitle(array_get($forum, 'data.attributes.title'));
        $view->description = $this->description;

Description is not set by anything. Could someone check?

[2016-12-09 22:09] hardware opened #1084 "Cookies must be set with the Secure flag in HTTPS mode"
All cookies should be created such that their access is as limited as possible. This can help minimize damage from cross-site scripting (XSS) vulnerabilities, as these cookies often contain session identifiers or other sensitive information. Session cookies sent from secure sites must be explicitly marked as secure to prevent being obtained by active network attackers.

In HTTPS mode, all cookies

[2016-12-11 14:51] datitisev commented on #1084
Should this be closed now?

[2016-12-11 14:56] sijad commented on #1084
no I guess, this should be done for other important cookies too, also I think `withSecure`  breaks Flarum for non https sites, this should be omitted for non https sites.

[2016-12-11 15:30] hardware commented on #1084
This **must** be done for session cookies and also advisable for others cookies (e.g flarum_remember).

https://tools.ietf.org/html/rfc6265#section-4.1.2.5

Actually, https://github.com/flarum/core/pull/1085 breaks non HTTPS sites.

[2016-12-12 00:16] dcsjapan opened #1086 "Can't open Settings page on Android devices"
A user [has reported](https://discuss.flarum.org/d/4387-cannot-open-settings-page-on-samsung-tablet) being unable to open the user Settings page when accessing Flarum from mobile devices running older versions of Android. This happens when accessing discuss.flarum.org as well.

Affected OS versions: Android 4.1.1, Android 4.4.2

Affected Browser: Google Chrome 55.0.2883.91

Only the Settings page

[2016-12-14 22:54] tobscure commented on #1013
This is fixed

[2016-12-14 22:54] #1013 closed

[2016-12-14 23:02] tobscure commented on #897
@wackyMole Thanks for the input. What about if their existing account was created via OAuth too? i.e. You create an account using Facebook. Then you log out, and try to log in via Twitter with the same email address. Does it require you to log in via Facebook again before it'll let you link Twitter?

I think that's less than ideal UX. What if I don't remember how I created my account in the first

[2016-12-14 23:48] datitisev opened #1087 "`Cannot read property 'content' of null` causes timestamp on post to duplicate for a few seconds"
## Bug report
- Version of Flarum: `v0.1.0-beta.6` or maybe `dev-master` (it's Flarum Discuss)
- Website URL where the bug is visible: Happens randomly and then restores itself.

## Error

[code]

## Additional comments

I sent many posts to https://discuss.flarum.org/d/4458, and from time to time the timestamps on a few posts got duplicated, and then went back to their normal state. It happened t

[2016-12-15 07:53] daggeto commented on #1057
👍  and how to customize that description will be same as first post in page?

[2016-12-15 21:31] dav-is commented on #1087
This code wouldn't erase the content but get it. For instance,
`this.props.foo('bar');` sets foo as bar, while `this.props.foo();` returns `bar`.

[2016-12-15 21:34] dav-is commented on #897
Why not just prompt for the password like GitHub when changing settings?

[2016-12-15 21:35] datitisev commented on #1087
@dav-is Oh, true, I forgot how Mithril props work. But still, this means that the JS is trying to get the composer's text after submitting the new post... with what purpose?

[2016-12-15 21:42] dav-is commented on #1087
The error indicates `app.composer.component` is null, not the content. Probably should just use `app.composer.content()` instead.

[2016-12-15 21:44] datitisev commented on #1087
`app.composer.component` only exists when the composer is in the DOM, and `app.composer.content` is undefined. It could probably just do `app.composer.component && app.composer.component.content()`, to be honest.

[2016-12-16 15:50] wackyMole commented on #897
@tobscure If you initially created your account with facebook, then yes, you'll need to log in with it before you can link your twitter account. Ideally you'd be able to link new social media sites on the "edit profile" page or whatever makes sense. If you don't remember how you created the account initially, you click the `/forgotUsername` link. Enter your email and we can send them a reminder li

[2016-12-16 18:29] dav-is commented on #897
But it they have control of the (lets say) Twitter account, they could easily find the email it uses in the control panel. There's no extra level of security, just another hoop to jump through.

Simply send an email saying "Are you attempting to log in with Facebook?" And if they click the link in the email, it links the Facebook account and signs them in

[2016-12-16 18:31] dav-is commented on #897
If the user ignores said email, the account is never linked. And some rate limiting would be put in place for sending confirmation emails for SSO. Instead of saying what you're doing and justifying it, tell me what's wrong with this approach.

[2016-12-16 20:26] Magicalex commented on #848
@tobscure Why not use the bootstrap css grid for everything that affects the positioning of the elements?
The new version of Bootstrap 4 offers grids using flexbox.

[2016-12-16 22:53] dav-is commented on #848
I think we should dump bootstrap for something like [lost](https://github.com/peterramsing/lost)(which uses flex-box). We don't use too much bootstrap and it's already pretty heavy.

[2016-12-17 07:09] tobscure commented on #1087
I believe duplicate timestamps is a complex Mithril diff algorithm bug and will hopefully be fixed with Mithril 1.0.

@datitisev which line of code is that exactly?

[2016-12-17 07:11] tobscure commented on #1084
Hence my question in #1085 ("Does this cause any problems when HTTPS is not being used?")...

Would someone mind doing a PR to fix that?

[2016-12-17 07:13] tobscure commented on #1078
Can't reproduce on Safari iOS 10.2.

[2016-12-17 15:17] datitisev commented on #1087
I managed to get the error again, although it is slightly different.
[code]

And that line is actually the [`onunload` method in DiscussionPage](https://github.com/flarum/core/blob/34f3d93ce56ad18ada6aad65bfc77244fea09716/js/forum/src/components/DiscussionPage.js#L81), when it tries to hide/close the composer if there is content or no content respectively.

My console is getting spammed, I have 60

[2016-12-17 15:20] datitisev commented on #1087
Ok. Steps to reproduce:

1. Go to a discussion
2. Refresh
3. Click "Write a reply" at the bottom
4. Don't type anything
5. Click the back button at the top (the `< =` menu thingy)
6. Check console

It doesn't seem to bug out anything anymore, but it does spam the console pretty quickly

![screen shot 2016-12-17 at 10 19 43 am](https://cloud.githubusercontent.com/assets/6401250/21287832/5be9a332-c4

[2016-12-17 15:38] datitisev commented on #1078
Can't reproduce on Safari iOS 10.2

[2016-12-17 17:58] dav-is commented on #1078
Must have been a 10.1 bug because after the upgrade to 10.2 it no longer occurs.

[2016-12-17 17:58] #1078 closed

[2016-12-18 01:37] dcsjapan commented on #746
@datitisev No worries ... I also had to stare at those for a few seconds before I realized what they were.

Hmm ... the styling of that "Permissions" heading gives the impression that the section contains some sort of permissions relating to the Taxonomy extension, rather than settings pertaining to the tags. (And the fact that the tags under "Permissions" don't match those defined in the section

[2016-12-18 01:47] dav-is commented on #746
Isn't it? Each permission has tag related settings

[2016-12-18 02:33] dav-is commented on #746
Why would you want to update an extension if it's not being used?

[2016-12-18 05:13] dcsjapan commented on #746
If it's an extension I disabled because it wasn't working, and I was waiting for that update ...

[2016-12-18 05:35] tobscure commented on #746
Revision two:

![admin2](https://cloud.githubusercontent.com/assets/128862/21291740/ae1c0a10-c53b-11e6-8ad5-85dde91046a2.png)

@dcsjapan good point, we'll work something out

[2016-12-18 06:51] dcsjapan commented on #746
I like this styling (divider lines instead of solid bars) better.

I'm not sure the top stuff needs to be centered, though ... and I kind of miss this stuff:

![screenie](https://cloud.githubusercontent.com/assets/13129997/21292029/925518aa-c539-11e6-887f-c4a3ccb9e702.png)

(Sorry about the blurred "Documentation" link ... I accidentally smeared it with the water brush.)

[2016-12-18 08:23] tobscure commented on #746
They would be accessible via the "..." button next to the extension name

[2016-12-18 08:53] dav-is commented on #746
Couldn't you just put them next to "beta.6"?

[2016-12-18 11:54] dcsjapan commented on #746
I agree ... there's plenty of room up there, why not make it one less click to get at those links?

[2016-12-18 22:17] rodymol123 commented on #746
I, for what it's worth, also find the first header a better fit.

[2016-12-19 21:40] ryanvade commented on #1086
It seems to affect Android 5.1.

[2016-12-21 08:44] oanhnn opened #1090 "Post content be wrapped before validation"
## Bug report
I want check post content maximum is 1000 characters, but post content will be wrapped by `<t>` and `</t>` before it is validated.
when we using `flarum-ext-markdown` extension, content will be wrapped by `<t><p>` and `</p></t>`.
We can confirm it and see it in database.
Is it issue of flarum?

## Flarum info
[code]
## Additional comments
Current, i must set maximum 1014 characters

[2016-12-21 08:53] Luceos commented on #1090
To be honest I don't see why this is a bug. You will never know what extensions modify the content of a post. Your 1000 character limit therefore will always be an approximation. Best you can do if you want to make your approximation as best as possible is to take into consideration the mutations you've already noticed from widely used extensions.

[2016-12-21 09:00] oanhnn commented on #1090
@Luceos
What are you think about if we convert content to string and validate length of it?
I think it is expectation of all users

[2016-12-21 09:01] Luceos commented on #1090
@oanhnn I was updating my comment as you replied. The last option might be the best thing to do. It will require some kind of html parsing to be introduced, but packages for these abound.

[2016-12-21 09:06] oanhnn commented on #1090
I found http://php.net/manual/en/function.strip-tags.php
It can help we fix this problem. :+1:

[2016-12-21 09:10] Luceos commented on #1090
If you only do validation, that is possible yes.

This issue can be closed.

[2016-12-21 09:14] oanhnn commented on #1090
I think this issue still open until any one make PR to resolved it.

[2016-12-21 09:34] Luceos commented on #1090
I disagree, there is nothing wrong with with what Flarum does with content now. Your extension has to handle that logic by itself, not Flarum.

[2016-12-21 10:08] dcsjapan opened #1091 "Redundant notifications"
This is an issue we've discussed before in Gitter chat, but I thought I should make an issue of it so it doesn't get lost in the shuffle.

I frequently receive two or three notifications (both bell alerts and emails) as the result of a single user post. One or two of the redundant notifications come from **Subscriptions** and **Mentions**, but it seems the notification infrastructure is also impli

[2016-12-21 10:18] dcsjapan commented on #1091
Follow up info:

That unread notification from BlackSheep in the first screenshot above was actually a reply to a post in a thread I was following ... and yet I received only a **Subscriptions** notification in that case. 😦

Could it be that redundant notifications only happen when Flarum has to deal with notifications from all three sources? I'll keep an eye out for counterexamples and update thi

[2016-12-22 10:00] #1084 closed

[2016-12-23 14:12] renyuneyun commented on #414
So I've found the api/backend already contains such ability  -  just need to send PATCH request with data
`{
'data':
        {'attributes':
         {
             'isActivated':'true'
         }
        }
}` to `FORUM_URL/api/users/:userid` .

I tried to modify 'js/forum/src/components/EditUserModal.js' to add a 'activated' checkbox under the 'Email' section, but I have no idea how to reload the

[2016-12-23 17:58] dav-is commented on #414
Mithril at the time being doesn't use ES6. Flarum has ES6 classes to make use of mithril. Then all the rest of Flarum builds on these classes. Does this make sense?

[2016-12-23 18:43] renyuneyun commented on #414
Yes.
So the transpiling step is to change ES6 to a lower version (e.g. ES5?) to let it run correctly on current browsers/tools/environment?

Wouldn't the modified JS be then downloaded by the browser (after refreshing the page) after transpiling? Or are there other steps needed?

[2016-12-24 02:11] amdad commented on #274
Hey Toby, by saying Laravel you mean also OctoberCMS? Which is top Laravel CMS out there? https://discuss.flarum.org/d/2297-october-cms-laravel-php

[2016-12-24 02:18] amdad commented on #528
Feature is pull off from stable release. But I hope it will be done after? This "needs discussion" tag make me nervous a little bit ;)

[2016-12-24 03:11] dcsjapan commented on #528
"Needs discussion" simply means the devs need to discuss how to implement it.

[2016-12-24 03:17] amdad commented on #528
That's good info! Thx

[2016-12-24 05:54] dav-is commented on #274
@amdad That's a separate issue.

[2016-12-24 10:21] franzliedke commented on #528
Honestly, in this case I added the label because we need to discuss whether/how we want to implement this at all. Because there is lots of complexity involved (language files; dealing with the setting in user profile; we'd still need a neutral variant for all strings if no gender is configured).

:christmas_tree: :christmas_tree: :christmas_tree:

[2016-12-24 19:13] renyuneyun commented on #414
OK, I found that if I set `'debug' => true` in `config.php`, the changes will take effect.
But... Why?

[2016-12-24 19:31] dav-is commented on #414
There should a compile.sh that you'll want to run in the core files. Be sure not to commit the compiled app.js files.

[2016-12-27 15:50] datitisev opened #1095 "[Mentions] Replying to a user's post with a post id that is not author's post uses incorrect author"
## Bug report
- Version of Flarum: dev-master
- Website URL where the bug is visible: http://discuss

## Additional comments

![](https://i.gyazo.com/322d172f9dbe5f33b82ec765fcf2815b.gif)

I said `@Toby#3205` instead of `@Toby#32051`, which quoted a post that wasn't Toby's.
I fixed it now on the actual post 🙂

The post not loading was just my slow internet choosing not to work when I made the GIF.

[2016-12-27 21:56] renyuneyun commented on #806
Is this already done?

I saw this class/file has been renamed to `Http/WebApp/WebAppView` and there is an argument `Request $request` in this function in 9bfb797fdc94f2bc1be342e15c89765a70d5fe33.

[2016-12-27 22:41] datitisev commented on #806
Yeah, it does look like it got done. [This line](https://github.com/flarum/core/commit/9bfb797fdc94f2bc1be342e15c89765a70d5fe33#diff-b3f82c51060bdb1ef707531f9bccbe02R400) specifically is the new `WebAppView#getUserDocument` which, I think, closes this issue.

[2016-12-28 08:12] Luceos commented on #806
Will close this as the specified code has been refactored.

[2016-12-28 08:12] #806 closed

[2016-12-28 08:14] Luceos commented on #1095
This is quite confusing. So whenever you mention a user but add a hash that refers to a post not of the mentioned user, it will redirect to nothing? Because the hash isn't on this page, correct?

Isn't really a bug, fixing this would classify as idiot-proofing I guess.

[2016-12-28 13:07] renyuneyun commented on #572
Hi, what's the difference between `User.can()` and `User.hasPermission()`? I'm quite confusing...

[2016-12-28 13:29] datitisev commented on #1095
Well, you can call it that, but the user may reply to a post by another user that they didn't want to reply to, but they'd probably never notice, at it will says the author of the post replied to is wrong, but it is the author of the post that the user wanted to reply to...

No, if I say `@Toby#3205`, it will be replying to Fastidious' post with the ID 3205, and whenever you click it it will go to

[2016-12-28 18:49] dav-is commented on #1095
I feel like this could be imcorporatd with #315

[2016-12-28 19:23] Luceos commented on #1095
@dav-is you are correct. In fact if I read that issue correctly it will solve this reported issue as well, because usernames are taken from the references and only references will be stored.

If you both agree I'd like to close this one in favor of #315.

[2016-12-28 20:22] franzliedke commented on #746
I do like the new interface proposal as well,

My only concerns:
- This list could get very long, with lots of extensions installed (no matter how small they are). Or do I miss something?
- On the other end of the spectrum, some extensions may not need a tab here.

(Sorry if these things have been discussed already, I have a lot to catch up to.)

[2016-12-28 20:38] franzliedke commented on #848
The problem with Bootstrap-y layout is that it can become very hard to theme, especially once themes want to change a page's layout. Thus, I'd personally want to use as little of Bootstrap as possible, but Toby's opinion may differ.

[2016-12-28 20:57] franzliedke commented on #1086
We are talking about the user settings page, right?

Works for me on discuss.flarum.org, with Chrome 55.0.2883.91, but a newer Android (v5.1.0). Can anybody else reproduce?

[2016-12-28 21:23] franzliedke commented on #572
@renyuneyun Please understand this is not the place to ask support questions. Please use the forums or one of our Gitter channels for those.

[2016-12-28 21:49] franzliedke commented on #1095
Agreed.

[2016-12-28 22:10] franzliedke commented on #1013
@tobscure What was the fix?

[2016-12-28 22:22] franzliedke commented on #1079
@kenygamer You should be able to edit the files in the "errors" directory and see those changes without having to fiddle with .htaccess files. Does this work for you?

Besides that, as others have mentioned, we will make the default error pages look nice soon.

[2016-12-28 22:22] #1095 closed

[2016-12-29 01:28] dcsjapan commented on #746
That is a concern. Perhaps the category headings (EXTENSIONS, LANGUAGES, etc.) could have disclosure triangles, so admins wouldn't have to look at the whole list at once?

[2016-12-29 01:32] dav-is commented on #746
I'm not a huge fan of those. I don't think anyone really uses them

[2016-12-29 01:34] dcsjapan commented on #746
An accordion-style setup, then?

[2016-12-29 09:23] Luceos commented on #978
Would like to take a shot at this if you're ok with it @flarum/core

[2016-12-29 10:19] franzliedke commented on #978
@Luceos Please do. :+1:

TODO list looks great.

Please create a stripped-down version of the service provider - the one from Laravel registers all the drivers in order to be as configurable as possible (and some console commands which we don't need for now). Ours should only set up the sync driver for now - at one point we will have a config flag that will be used to switch to another driver inst

[2016-12-29 10:36] Luceos commented on #978
First implementation already sends over sync. I've extended the illuminate service provider and the QueueManager. I'll see if I can make a non-extended provider.

[2016-12-29 10:42] Luceos commented on #978
Some thoughts I had:

- I've created a `DispatchJobsTrait` that mirrors the behavior seen in the DispathEventsTrait, but I'm not sure that's the best of solving sending jobs.
- I'm using the Bus Dispatcher of Laravel to send Jobs into the queue. On hindsight, this might not be the best way of doing so.
- I've created a generic MailJob which allows sending mails to the queue with body, subject and

[2016-12-29 13:18] dcsjapan commented on #1091
Related to https://github.com/flarum/core/issues/868.

[2016-12-29 20:43] wackyMole commented on #897
@dav-is I'm not trying to justify anything. I'm simply providing information on how **I** solved the problem in **my** situation.

As far as your idea for sending a link to an email address, you don't want to do that because email should never be assumed to be secure. First of all, your approach does not confirm someones identity before linking an account. Let's say I created an account through Fa

[2016-12-29 21:04] mlyle commented on #897
This is probably getting excessive for a forum account.  Yes, blindly trusting upstream providers' email authentication is probably a bad idea because they've been known to have issues with it in the past (though it's mostly good now and major ones-- FB, Linkedin, github, etc-- will only hand verified email addresses when they're a signon provider)... But falling down in scenarios where the user i

[2016-12-29 23:25] dav-is commented on #897
Could you just request a password reset and achieve the same thing?

[2016-12-31 01:31] dav-is opened #1097 "CSS: Online Dot Shifts User's Badges to the Left"
## Bug report
- Version of Flarum: Beta 6
- Website URL where the bug is visible: Any discussion provided a user with a group badge is online.

If user's online dot is displayed, the user's group badges are shifted to the left of the avatar.

[2017-01-02 07:23] Luceos commented on #978
@franzliedke could you share you thoughts on the above once you have the opportunity to do so? Greatly appreciated.

[2017-01-02 11:10] #1090 closed

[2017-01-02 11:18] Luceos commented on #1060
@HostioSolutions could you please send a list of installed extensions? I'll close this issue, feel free to re-open once the list has been provided.

[2017-01-02 11:18] #1060 closed

[2017-01-02 11:20] Luceos commented on #1057
There is no setter method for description. This is confirmed, fix should take place somewhere in the mentioned `WebAppView` class:

https://github.com/flarum/core/blob/master/src/Http/WebApp/WebAppView.php#L286

[2017-01-02 11:23] Luceos commented on #1048
This would require a change/add in the `.gitattributes` file:

[code]

See the referenced issue for more information on the discussion.

[2017-01-02 11:32] Luceos commented on #1056
I'm not quite sure whether I understand the issue at hand. What is the solution we should implement? Shouldn't `php flarum migrate` run all mgirations of Flarum already? Or is the container error thrown because the updated code is trying to resolve an extension?

[2017-01-02 11:38] Luceos commented on #1044
What is required:

- [ ] add a migration that [changes the column type](https://laravel.com/docs/5.3/migrations#modifying-columns)
- [ ] make sure the requirement is met: `doctrine/dbal`

[2017-01-02 12:06] Luceos commented on #1015
@TheIsee closing this, we need to see your nginx configuration to help you out. Feel free to re-open once you have it.

[2017-01-02 12:06] #1015 closed

[2017-01-02 12:39] Luceos commented on #1041
@dcsjapan could you please give an example? Or give pointers how to reproduce?

[2017-01-02 13:07] dcsjapan commented on #1041
@Luceos Please see [this thread](https://discuss.flarum.org/d/3812-bug-cannot-edit-this-post) regarding reproduction. Kluge's screencast says it all.

As for examples, there are quite a few in that thread. (I just added a couple at the end.)

@JoshyPHP has made some changes to his library that may fix the problem; I'm not sure if Toby has added them to Flarum yet. See the issue Joshy linked above

[2017-01-02 13:10] Luceos commented on #1041
I get a different error if I try editing that post now:

[code]

seems like a dependency is now not loading correctly, can't even get the editor in view.

@dcsjapan thanks for taking the time to reply, gives a bit more background information in order to solve this.

[2017-01-02 13:24] dcsjapan commented on #1041
The big problem seems to be fullwidth characters where the automatic linkifier is expecting to find a domain name. Fullwidth characters appearing later in the URL don't cause the same issue.

[2017-01-02 19:35] franzliedke commented on #1057
I can't test this right now, but I believe changing that line to the following should fix the issue:

[code]

(The `$description` attribute can then also be removed.)

[2017-01-02 21:58] franzliedke commented on #1069
See [my new pull request](https://github.com/flarum/core/pull/1100) that should fix this issue. Haven't tested it yet, though.

[2017-01-03 00:42] JoshyPHP commented on #1041
@Luceos It's #1040, fixed in https://github.com/s9e/TextFormatter/issues/40.

@dcsjapan The URL validator only accepts ASCII domain names. If you don't have something to punycode IDNs, it will reject those URLs.

[2017-01-03 07:18] Luceos commented on #1041
@JoshyPHP would you be able to provide the fix version (also in the future) it would greatly speed up our solving time. Also I think it would be wise to support IDN domains too, as they are starting to become more common.

[2017-01-03 16:29] JoshyPHP commented on #1041
@Luceos The issue I mentioned was closed a while ago so unless you're talking about a different one then it's already fixed. If you want to support IDNs you need `intl` on the PHP side and `punycode.js` on the JavaScript side.

[2017-01-04 01:30] dav-is opened #1101 "Starting A Discussion on Secondary Tag Error [Tags]"
## Bug report
- Version of Flarum: beta.6

When creating a tag from `https://domain.tld/t/secondaryTag` It will throw an error saying one primary tag is required instead of opening the tag selection model like it does when you have no tag added. There is no guidance of how to fix this error and confused a client of mine to the point of him sending an email of how to fix it.

[2017-01-04 07:44] Luceos commented on #1101
When I try this in the current official forums, I actually see the primary applied automatically.

Hope you don't mind me closing this unless you have other evidence suggesting this is still an issue in dev-master.

[2017-01-04 08:07] dav-is commented on #1101
@Luceos http://i.imgur.com/BzvRbwX.jpg

[2017-01-04 09:45] Luceos commented on #1101
Right that makes sense. I've misunderstood, but it makes sense now.

[2017-01-04 12:39] luceos opened #1102 "Rename discussion modal translations"
We need to translate a few keys due to a recent change in the rename discussion modal PR by @datitisev ; the #1083 .

The keys affected are:

- added core.forum.discussion_controls.rename_modal.title
- added core.forum.discussion_controls.rename_modal.submit_button
- dropped core.forum.log_in.remember_me_text for core.forum.log_in.remember_me_label
- dropped core.forum.discussion_controls.rename_t

[2017-01-04 12:55] Luceos commented on #692
.git directory has been protected by a commit already:
https://github.com/flarum/flarum/commit/7e17408634c3e60d127b6bd5d3acb6807ed4528f

Now we just need to do the same with the composer files.

[2017-01-04 21:07] franzliedke commented on #1091
Is this a dupe of #439?

[2017-01-04 21:10] franzliedke commented on #692
@Luceos Or should we use [this improved solution](http://stackoverflow.com/questions/6142437/make-git-directory-web-inaccessible/17916515#17916515) from the StackOverflow thread you linked to for protecting all `.git` directories and also other Git-related files?

[2017-01-04 23:12] dav-is commented on #1101
This is where the code would need to be modifed: https://github.com/flarum/flarum-ext-tags/blob/master/js/forum/src/addTagComposer.js#L46

[2017-01-05 00:40] dcsjapan commented on #1091
@franzliedke Yes, I suppose it is. 😛 I thought I had filed this already, but I couldn't find it.

I'll close that older one, since this one is much more detailed. Plus, screenshots! :grip

[2017-01-05 00:42] #439 closed

[2017-01-05 00:44] dcsjapan commented on #1091
Sorry about that ... I tried to click on an emoji dropdown and ended up closing the issue instead. 😬

[2017-01-05 03:21] Luceos commented on #692
@franzliedke that's still the preferred solution yes, someone might add custom extensions with vcs to the vendor directory for instance.

[2017-01-05 06:46] dav-is commented on #1097
![img](https://i.imgur.com/pwvdILF.jpg)
Here's verification.

[2017-01-05 08:03] franzliedke commented on #1097
Oh, on mobile? Or do you have the same problem on desktop, too? (I believe the green dot is positioned differently there.)

I couldn't find other badged users who are online when I tried to reproduce this.

[2017-01-05 08:43] dav-is commented on #1097
It's mobile only I believe. You can test this on yourself, provided you're badged (which you are).

[2017-01-05 09:14] Luceos commented on #1097
Just checked it on my chrome mobile browser and noticed the same. Not sure it was done on purpose to reduce reserved space.

[2017-01-09 18:20] franzliedke commented on #1097
I can reproduce as well.

[2017-01-13 01:11] Slayer95 opened #1103 "Passwords hashing does not involve a proper salting"
## Bug report
- Version of Flarum: Master branch

As far as I can tell (I may be wrong), the passwords stored by Flarum, while hashed, are not being properly salted[[1]](https://github.com/flarum/core/blob/1031826a3d242735da26c9e5342fda2a91195db1/src/Core/User.php#L259-L262).
The best practice is to have a different salt for each user, and hash it together with the password.
The lack of this mecha

[2017-01-13 01:33] Slayer95 commented on #1103
Oh... bcrypt seems to store the hash together with the salt. Clever.

[2017-01-13 01:33] #1103 closed

[2017-01-13 01:41] Kakifrucht commented on #1103
bcrypt hype!

[2017-01-13 08:26] franzliedke commented on #872
For reference: [This ticket](https://github.com/flarum/core/issues/1087) can hopefully also be closed once we upgrade to Mithril 1.0.

[2017-01-14 14:20] LuffyyyffuL opened #1104 "comments_count total incorrect for users"
Hi,

Sorry for my english.

I have finding that when i remove a comment, in "users" table the value to "comments_count" line is set to n-1 and when i remove definitly the comment, the value to "comments_count" line is again seted to n-1.

So the total comments is incorrect because for one comment deleted, -2 is subtracted from the "comments_count" current total

I think that is not normal, what th

[2017-01-14 17:31] franzliedke commented on #1104
Thanks for the report. Can anyone reproduce?

[2017-01-14 17:33] franzliedke commented on #1104
Okay, I just reproduced this as well. Should have done that right away.

So, the comments_count for a user is reduced both when initially soft-deleting a post, and also when it is deleted forever.

[2017-01-14 19:34] Luceos commented on #1104
For reference: https://github.com/flarum/core/blob/master/src/Core/Listener/UserMetadataUpdater.php#L96

[2017-01-15 17:15] alrpal opened #1107 "Protocol-relative url in config outputs incorrect url format in emails."
## Bug report
- flarum v0.1.0-beta.6
- ubuntu 16.04
- nginx 1.10.0
- PHP 7.0.13
- EC2 t2.micro
- AWS

## Example email body (note url formatting)

[code]

## config.php

[code]

## Additional comments
I don't know if you want to support protocol-relative urls. This is easily fixed by simply putting `http://` or `https://` instead of `//`, but I noticed that everything else appears to work with a p

[2017-01-16 08:34] Luceos commented on #1107
Without a protocol Flarum will not know to forward a login attempt to https. I can imagine you would like to use it as such. There isn't a good reason to use http anyway if you have SSL encryption configured, because there is hardly any performance loss and it does protect your privacy for every submitted content or authentication attempt.

What do you think @franzliedke ?

[2017-01-17 11:06] lZzozZl commented on #271
[Suggestion] patternLock.js

It has a CAPTCHA option which is fun. It's like android phone unlock. :+1:

[2017-01-17 12:36] Luceos commented on #271
@lZzozZl please report feature requests on the [forum](https://discuss.flarum.org), the github bug tracker has been given the sole responsibility of bug reporting and approved feature conceptualisation a while ago. Thanks for sharing your thoughts and I do hope you share them through the correct channel.

[2017-01-18 20:11] Slayer95 commented on #818
Any news about this?

[2017-01-19 00:11] ExerciseBook commented on #537
`    # reset_password:
      # body: "\u0026\u006c\u0074\u003b\u0068\u0074\u006d\u006c\u0026\u0067\u0074\u003b\u000d\u000a\u0009\u0026\u006c\u0074\u003b\u006d\u0065\u0074\u0061\u0020\u0063\u0068\u0061\u0072\u0073\u0065\u0074\u003d\u0026\u0071\u0075\u006f\u0074\u003b\u0075\u0074\u0066\u002d\u0038\u0026\u0071\u0075\u006f\u0074\u003b\u0026\u0067\u0074\u003b\u000d\u000a\u0009\u0026\u006c\u0074\u003b\u

[2017-01-19 13:37] ExerciseBook opened #1109 "The style (font-size? bold or light?) of MarkDown Tag "#" is not clear enough."
In Flarum
![1](https://cloud.githubusercontent.com/assets/6327311/22108555/a603485e-de8e-11e6-928f-002bb83e1724.png)

In Github
![2](https://cloud.githubusercontent.com/assets/6327311/22108509/76cb921c-de8e-11e6-81a3-32ee0e990e4b.png)

In my page which is full of many kinds of title levels like this

[code]

The not clearful enough style of "#" tag may make the viewer puzzled.

I tried to edit the

[2017-01-20 13:20] jacquarg opened #1110 "Bug : Oops something went wrong on Login (and a dirty fix)"
Durring login, when the user enter its valid credentials, the popup show a red message 'Oops something went wrong, you should relaod the page'.

After some investigation, it appears that the response from the server to the request /login , is troncated, and then, not a valid JSON.

I am not a PHP expert, so I don't know where the problem come from. But, I found a quick and totally dirty fix which

[2017-01-20 13:29] Luceos commented on #1110
If I try logging in at discuss.flarum.org with incorrect details it simply adds the "details incorrect message". What I can imagine is that you have debug enabled which returns more detailed information when the authentication fails. Can you confirm this issue cannot be reproduced on discuss.flarum.org?

[2017-01-20 14:05] jacquarg commented on #1110
Yes, I can't reproduce with discuss.flarum.org .

But I encounter the problem when the authentication success ( when it fails, there is a specific message, as expected).
But when it success, the flarum interface show an error (Oops, ...) and , in the developper console in firefox, I got 200 Ok on /login POST request, but the body is troncated (only half of the expected JSON object ).

[2017-01-20 14:29] Luceos commented on #1110
I'd really like to see the json response that is truncated. We can't evaluate whether this is a bug in Flarum without steps to reproduce.

[2017-01-20 14:35] jacquarg commented on #1110
That's what I get from the developer console in firefox :
`{"token":"B3sOdw5C3hvD5HfNEVUWrUj0PRB9mDhXDbyKfFkS","u`

[2017-01-20 15:54] Luceos commented on #1110
If you cannot reproduce this on discuss.flarum.org you can safely assume the issue has already been resolved (for the upcoming version).

[2017-01-20 17:36] franzliedke commented on #1110
@Luceos Well, to be honest, this doesn't look like something that was wrong in Flarum, not even in the past. I am curious what it could be, though. Maybe a misconfigured server or some weird combination that leads to problems.

@jacquarg Can you show us the entire HTTP response from the server, please - including headers? You can find (and copy to clipboard) this in your browser's developer tools,

[2017-01-20 19:33] Luceos commented on #1110
@franzliedke I was assuming the same. But without more information it's hard to further identify a cause.

[2017-01-20 20:09] luceos opened #1111 "Contextual binding is bad for extendability"
A few months ago I talked to @franzliedke about contextual binding in relation to overriding the storage adapter of avatars upload. Using contextual binding there is no way of loading the bound implementation and changing the configuration, also extending/overriding the contextual binding is not (yet) possible in Illuminate.

Now.. attempting to implement a Gambit I noticed a few issues. First, on

[2017-01-20 20:27] Luceos commented on #1111
I now see there is also a `ConfigureDiscussionGambits`

[2017-01-21 08:24] ExerciseBook opened #1112 "Implement "sudo mode" (re-enter password) to access admin area/functions"
It may strengthen the site safty .

~~我突然间感觉我英语捉鸡了~~

Maybe my description is not clear enough .

![20170121162736](https://cloud.githubusercontent.com/assets/6327311/22173209/88796a8e-dff6-11e6-8eb6-1769247aacd2.png)

[2017-01-23 07:46] Luceos commented on #1112
This was implemented in the past but dropped due to some unforeseen consequences, it might well return at some point.

Reference #764

[2017-01-23 09:18] jacquarg commented on #1110
@franzliedke:
Here is the whole response, as the debugger shows it:

Header:

[code]
body
[code]

[2017-01-23 09:51] Luceos commented on #1110
Some research based on this:

- [ ] Setting Content-length might throw incorrect length, [SO](http://stackoverflow.com/questions/24307397/json-string-encoded-from-large-array-got-truncated-when-output-to-http-client)

[2017-01-24 10:41] manuel-di-iorio commented on #1003
+1

[2017-01-26 11:53] Luceos commented on #1110
Another report of this issue, also on [OVH](https://discuss.flarum.org/d/4750-login-issue-on-freshly-installed-flarum). Not sure, but this seems to be related to the hosting environment.

[2017-01-26 13:26] holbaek commented on #885
+1

[2017-01-26 19:35] dav-is commented on #1110
I've noticed this issue on Laravel homestead before.

[2017-01-26 19:57] Luceos commented on #1110
@dav-is any explanation back then, because this is the second report for a customer on OVH..

[2017-01-26 20:38] dav-is commented on #1110
It seemed to appear repeatibilly on certain errors when debugging extensions. I don't know what those errors were because it seemed to cut off most of it but I would refresh and get the same cut off message.

[2017-01-28 17:04] waltdestler commented on #1013
What was the fix for this? I'm having this issue on my own forum using Beta 6, and I too am using SparkPost. Is there something I need to fix on SparkPost, or did this end up being a Flarum bug and I just need to wait for the next Flarum version?

[2017-01-31 20:20] LuffyyyffuL opened #1115 "Cookie name cannot be configured"
Hello,

Sorry for my english.

I have a big problem :

I have two flarum on my server :

/var/www/flarum_1 -> https://my_domain.tld/flarum_1
/var/www/flarum_2 -> https://my_domain.tld/flarum_2

Fiew users :

User_1 -> flarum_1 : ID_1 ; flarum_2 : ID_1 -> Connections to two Flarum OK
User_2 -> flarum_1 : ID_2 ; flarum_2 : ID_3 -> If the user logs in to the flarum_1 and then connects to the flarum_2

[2017-01-31 20:34] Luceos commented on #1115
You're authenticating on the same domain. Both installations use the same cookie name and as a result will re-use the cookie set on one installation. The cookie name has been hard-coded removing any possibility of implementing scenarios you have.

Code reference [x](https://github.com/flarum/core/blob/master/src/Http/Middleware/StartSession.php#L59)

[2017-01-31 20:44] LuffyyyffuL commented on #1115
Thanks for your feedback.

If I change this way, will my problem be resolved ?

/var/www/flarum_1 -> https://sub_one.my_domain.tld/flarum
/var/www/flarum_2 -> https://sub_two.my_domain.tld/flarum

[2017-01-31 22:52] LuffyyyffuL commented on #1115
It's OK with sub domain :)

[2017-02-01 05:16] Luceos commented on #1115
Glad to hear, will keep this open in order to support configurable session names.

[2017-02-01 08:04] DearTanker commented on #1060
same issue

[2017-02-01 08:27] Luceos commented on #1060
@DearTanker without additional information this issue cannot be re-opened. Please take some time to gather installed flarum extensions (your composer.json) and the installed php extensions (php -i).

[2017-02-01 09:13] sijad commented on #870
custom handler removed in laravel 5.2+, there's two package to add this feature back [LaravelCollective/bus](https://github.com/LaravelCollective/bus) (have [problem with laravel 5.3](https://github.com/LaravelCollective/bus/issues/13)) and [AltThree/Bus](https://github.com/AltThree/Bus). this option will make things hard for upgrading to incoming laravel version.

options 2 makes some other tasks

[2017-02-02 03:13] areyi opened #1116 "Error 500 when logging in using Github"
I got error 500 Internal Server Error when logging in with Github

Screenshot:
[code]
---

## Bug report
- Version of Flarum: v0.1.0-beta.6
- Website URL where the bug is visible: http://128.199.150.205/
- The webserver you are running: apache
- PHP version: 7.0
- Hosted environment:  vps
- Hosting provider: http://www.digitalocean.com/

## Flarum info

[code]

## Additional comments
Problem found

[2017-02-02 07:29] Luceos commented on #1116
Thanks for your elaborate bug report, this issue is already known #1069 and a solution is provided on the forums [4218-zend-stratigility-debug-message-after-composer-update](https://discuss.flarum.org/d/4218-zend-stratigility-debug-message-after-composer-update).

[2017-02-02 07:29] #1116 closed

[2017-02-02 09:17] Luceos commented on #241
addPost.blade in the subscription extension isn't hmtl either, nor is it translated, see #537 too

[2017-02-02 10:26] luceos opened #1117 "Validation errors not translated during installation"
## Bug report
- Version of Flarum: beta 6

When you install with a database prefix of over 10 characters the [command](https://github.com/flarum/core/blob/master/src/Install/Console/InstallCommand.php#L137) will throw a max string error, which is not clear.

Related [thread](https://discuss.flarum.org/d/4767-validation-max-string-500-error-on-install).

[2017-02-02 22:25] realrandal commented on #115
Guys, auto load is cool. But I don't think it is enough at all.  What about pagination of topics like all forums have? I mean of course modern pagination - Flarum way. I hate when I can for example read only newest comments on youtube from top, and load only some more by LOAD MORE,  Also when you have tons of topics list will get big. The same problem as with posts. Solution also should be the sam

[2017-02-02 22:33] amdad commented on #115
Guys, auto load is cool. But I don't think it is enough at all. What about pagination of discussions like all forums have? I mean of course modern pagination - Flarum way. I hate when I can for example read only newest comments on youtube from top, and load only some more by LOAD MORE, Also when you have tons of discussion list will get big. The same problem as with posts. Solution also should be

[2017-02-03 16:41] franzliedke opened #1118 "Improve order of mention auto-completes"
When trying to respond to a user, without referring to a particular post that user has made - but when that particular user has already made more than a few posts in that topic - finding the item with just their username in the list of autocompletes is very tricky, because it comes last...

See this screenshot for what I mean:
![flarum-mention-list](https://cloud.githubusercontent.com/assets/24912

[2017-02-03 17:44] #200 closed

[2017-02-03 19:21] #623 closed

[2017-02-03 19:30] franzliedke commented on #623
This is now fixed, thanks to @dav-is and @renyuneyun !

[2017-02-03 19:56] #616 closed

[2017-02-03 19:58] franzliedke commented on #1102
@dcsjapan @milescellar Can I ask one of you to take care of this (review the keys and add the translations), please? That would be awesome!

Sending the PR to *master* is perfectly fine for now, I'll take care of the merge conflicts when we merge *next*.

[2017-02-03 20:13] #414 closed

[2017-02-03 20:49] franzliedke commented on #1116
@Luceos Hmm, but that issue should not cause a 500, right, only warnings?

[2017-02-03 21:03] #1069 closed

[2017-02-03 21:37] Luceos commented on #1116
@franzliedke depends on your php configuration. "Sane" configurations simply ignore deprecations and notices in order to guarantee production environments stay up, even if you didn't pre-instantiate an array for instance.

[2017-02-03 21:43] franzliedke commented on #1116
Oh, good point.

I just wanted to make sure we're not missing something else... :)

[2017-02-03 21:50] Luceos commented on #1118
Or in the first position. In other circumstances you simply press reply from the specific post. I personally use the reply button (on an open or closed composer window) more often than using the mention functionality to refer to a specific post.

[2017-02-03 22:10] franzliedke commented on #820
Thanks to David, direction and language will now be exposed.

[2017-02-03 22:34] franzliedke commented on #1057
Pretty sure this was fixed in #1105.

[2017-02-03 22:34] #1057 closed

[2017-02-05 01:19] franzliedke commented on #1056
I saw this when trying to run `php flarum` locally, too. My solution was to remove the config.php file (so that Flarum thinks it is not installed) - I had wanted to reinstall anyway.

Doesn't quite explain the underlying issue, though. And not sure why you got this when updating... mine works again now, after reinstalling ;)

[2017-02-05 19:01] franzliedke commented on #769
So this is just an issue of the UI state not correctly reflecting what the server (correctly) changed, right?

[2017-02-06 13:53] amdad commented on #115
Example of similar implementation: https://community.nodebb.org/category/10/nodebb-themes/139

[2017-02-07 12:53] janga1997 commented on #1048
@Luceos @sijad I would like to take up this issue.

[2017-02-07 12:56] janga1997 commented on #1101
@dav-is @Luceos I would like to take up this issue.

[2017-02-07 16:49] rastaferraille opened #1119 "Bug with approving messages : not updating values in discussions table (last_user_id, last_post_id, last_time...)"
Hello,

When I approve a message from a user, those values are not uptated at all in discussion table :

last_user_id
last_post_id
last_post_number
and
last time

they're left with their old values.
As a consequence, the discussion page is wrong (last user, last modified, discussion displaying order etc.)

Everything is fine in posts table

I'm using beta 6 version of flarum.
I recently upgraded f

[2017-02-07 19:08] franzliedke commented on #1107
I agree with @Luceos.

As it isn't perfectly obvious how we should handle this situation, I will consider this an error on your part, for not configuring an absolute URL. If you have any proposals on how to make this clearer, I will gladly take care of improving the situation.

Or even better: If anybody is interested in sending a PR that automatically adds "https:" to such a protocol-relative URL

[2017-02-07 19:08] #1107 closed

[2017-02-08 11:05] franzliedke commented on #1119
Thanks for the report!
This bug was already fixed in PR flarum/flarum-ext-approval#4 and will be released as part of the next beta version.

If you want to enjoy the fix now, please upgrade to dev-master. :)

[2017-02-08 11:05] #1119 closed

[2017-02-08 12:17] rastaferraille commented on #1119
Hello,

Thank you for your answer and sorry for the bug duplication ! I have'nt
seen it..
Thank you for this great forum !

2017-02-08 12:05 GMT+01:00 Franz Liedke <notifications@github.com>:

[2017-02-10 20:32] luceos opened #1120 "Error handling is bad for controllers parsing internal api calls"
## Bug report
- Version of Flarum: current dev-master

---

Pages that parse data by calling on any API endpoint and pushing them into a view for displaying are not handling errors properly with debug on. For instance if any extension produces a 500 internal server error during development, these errors will only produce a white page. The behavior we should expect is that the error is directed tow

[2017-02-10 23:38] tobscure commented on #1120
Yes I've been caught out by this too. Thanks for the report.

[2017-02-10 23:44] tobscure commented on #870
I guess we might have a helper that takes the pain out of constructing requests. But ultimately I can't see it being that much harder than constructing Command objects - they're just conforming to our JSON-API spec rather than to a programmatic interface.

I wouldn't be confident in adding the request helper at least until we fully flesh out how everything is going to fit together. Because it mean

[2017-02-11 08:52] 872517414 opened #1121 "Custom ports are not supported,maybe?"
---

## Bug report
- Version of Flarum: 0.1.0-beta.6
- Website URL where the bug is visible: http://forum.cyberguns.cc:8080/ **(Outside of China mainland cannot view,fucking IDC.)**
- The webserver you are running: nginx
- PHP version: 7.1.1
- Hosted environment: vps
- Hosting provider: http://shenzhouyun.net/

## Flarum info

[code]

## Additional comments
In China mainland,Sign up a site must be

[2017-02-11 12:20] SDLyu commented on #1059
I have the same issue, and I don't install any third party extensions.
<img width="963" alt="development_forum_" src="https://cloud.githubusercontent.com/assets/2996108/22853655/781c28b4-f097-11e6-98d4-72068d50f11e.png">

[2017-02-11 12:39] franzliedke commented on #867
For future reference: we need to revisit the discoverability of the sorting dropdown, once this is implemented (as explained by Toby in https://github.com/flarum/flarum-ext-english/pull/94#issuecomment-278279422).

[2017-02-11 12:49] franzliedke commented on #1121
Hmm, so you are suggesting Flarum does not work when run on a custom port? I am not sure that that 502 error is caused by Flarum, it might be a misconfiguration. Let me try it out...

[2017-02-11 12:53] franzliedke commented on #1121
I could get my local Flarum to work on a different port by changing the second line of my Nginx site config to `listen 8080` and appending `:8080` to the `base_url` setting in Flarum's config.php file.

@872517414 Why did you remove the URL rewriting block? Can you show us your entire Nginx config?

[2017-02-11 13:02] Southclaws commented on #1065
I've run across this issue recently while installing and the above solution doesn't work any more with a fresh Flarum install:

[code]

Are there any more workarounds for now?

[2017-02-11 13:17] 872517414 commented on #1121
@franzliedke
Because it is a duplicate one.

forum.cyberguns.cc.conf
[code]

flarum.conf
[code]
enable-php.conf
[code]
fastcgi.conf
[code]

[2017-02-11 18:49] sijad commented on #870
by using something like option 1 there's no need to have more than one request I guess. option 1 would seem like this with request helper:

[code]

[2017-02-11 18:54] sijad commented on #870
by using something like option 1 there's no need to have more than one request I guess. option 1 would seem like this with request helper:

[code]

[2017-02-11 18:59] sijad commented on #870
I'm not really against Option 2, but I think it'll make things complicated in feature. as it mentioned above extensions rarely need request and having multiple request doesn't seems right.

[2017-02-11 21:15] Luceos commented on #1121
I think this is a misconfiguration issue and it has nothing to do with Flarum.

[2017-02-11 21:50] franzliedke commented on #1121
I agree. Can you please take this to the forums?

[2017-02-11 21:50] #1121 closed

[2017-02-11 23:58] franzliedke commented on #1101
@janga1997 Please, feel free to take this on and send a pull request. :+1:

[2017-02-12 00:01] franzliedke commented on #1101
P.S.: If you encounter any difficulties, feel free to ask for help in this issue, or start a work-in-progress pull request and ask for help there.

[2017-02-12 00:01] franzliedke commented on #1065
@Southclaws This has been fixed properly in the latest dev-master version, so this workaround should no longer be necessary.

[2017-02-12 00:12] franzliedke commented on #1048
@janga1997 Again, that's great to hear. :)

[2017-02-12 00:14] franzliedke commented on #818
@Slayer95 Did you report this in the forums? If so, can you provide me with the full stack trace, so that I can figure out why this did not get caught by our normal error handler (which should have prevented the stack trace from being shown when debug mode is turned off)?

[2017-02-12 01:26] Slayer95 commented on #818
It wasn't me, but I may still provide you with an stack trace, as soon as I get one again -the error logs are empty @.@, and I had edited some core files, which I have just now resetted.

[2017-02-12 02:56] 872517414 commented on #1121
Took it:https://discuss.flarum.org/d/4876-when-i-deployed-database-i-got-the-error-502
Chinese Forum:http://discuss.flarum.org.cn/d/745
Thank you to help me!@franzliedke @Luceos

[2017-02-12 03:27] 0E800 opened #1125 "MS EDGE, Avatar upload, doesn't work."
When user browsing flarum site using MS Edge tries to upload avatar image, no image is uploaded. No errors appear in browser console.

[2017-02-12 06:09] SMXRanger opened #1127 "MS EDGE, Login remember doesn't work"
## Bug report
- Version of Flarum: Flarum v0.1.0-beta.6
- Website URL where the bug is visible: https://discuss.flarum.org (and any other installations)

Login remember resets every time then Microsoft Edge is closed.
Need to login every time when starting Microsoft Edge.

[2017-02-12 07:37] 872517414 commented on #1121
OK,I solved it. Flarum 0.1.0-beta.6 isn't support PHP 7.1.
@franzliedke @Luceos

[2017-02-12 16:46] #1048 closed

[2017-02-12 18:27] Luceos commented on #1121
Please keep discussion on this topic to the forum. Thank you.

[2017-02-12 19:09] franzliedke commented on #978
@Luceos Do you still need anything here, or is the feedback in the PR enough?

[2017-02-12 19:13] franzliedke commented on #1041
@JoshyPHP Hmm... so is this fixed since merging #1049?

[2017-02-12 19:14] franzliedke commented on #1017
@tobscure Are you interested in this feature? If not, please close. :)

[2017-02-12 19:20] franzliedke commented on #514
@phodal I don't see `application/vnd.api+json` in our [Apache config](https://github.com/flarum/flarum/blob/569e3a3b5ec862ecae93e0e438dd6a7a4c5012ed/.htaccess).

I jut added one line that was forgotten in the Nginx config, though, thanks for the heads-up.

[2017-02-12 19:40] JoshyPHP commented on #1041
@franzliedke I think so, yes.

[2017-02-12 20:31] dcsjapan commented on #1041
@franzliedke I guess that hasn't been applied to discuss.flarum.org yet? I'm still seeing the issue there.

[2017-02-12 21:56] franzliedke commented on #1041
Can you try it out on [devflarum](https://devflarum.xyzz.work/)?

[2017-02-12 22:39] dcsjapan commented on #1041
@franzliedke Yep, it's fixed on devflarum. 🎉

[2017-02-12 22:40] franzliedke commented on #1041
Great, thanks to both of you.

[2017-02-12 22:40] #1041 closed

[2017-02-12 22:48] franzliedke commented on #53
@Balancer I was referring to the size of the database column, but that is [currently set to 200](https://github.com/flarum/core/blob/30076547e5818bab3281e476333ece4149bb22bb/migrations/2015_02_24_000000_create_discussions_table.php#L19).

[2017-02-12 23:05] franzliedke commented on #897
Issue #1050 is probably related

[2017-02-13 07:13] Luceos commented on #978
No it's fine, I'll patch it up asap. I've self assigned this issue.

[2017-02-13 11:55] Luceos commented on #818
@franzliedke this most commonly happens if you get a failed connection exception. Just try changing the password or username to something that is invalid.

[2017-02-13 11:56] Luceos commented on #1127
Are you sure this is not a privacy setting in Edge? To drop any cookies/sessions on browser close?

[2017-02-13 12:00] Luceos commented on #1059
@SDLyu can you try running `php flarum cache:clear` and see if that helps?

[2017-02-13 12:04] Luceos commented on #769
I think we need to decouple subtags from primaries once primaries are moved under another primary or changed into secondaries. This requires work in both UX and Backend.

It's been a while I looked into it, but whoever picks this up might be forced to do a complete run to reproduce the issue before implementing any changes.

Hope the above makes sense @franzliedke

[2017-02-13 12:12] franzliedke commented on #818
That's a good hint, I could reproduce that. :)

[2017-02-13 21:31] mkarnicki commented on #274
For those who desperately need Flarum and Laravel auth integration, have a look at [this blog post](https://wogan.blog/2017/02/12/integrating-laravel-and-flarum/)

PS I was originally @MichalKarnicki, changed my github username to match Twitter.

[2017-02-13 23:01] amdad commented on #274
No i rewelka :)

[2017-02-13 23:07] mkarnicki commented on #746
I just read the entire thread. I find this a highly interesting discussion with a lot of great insights, you guys are seriously having a great brainstorm here. It did struck me though the issue was opened Jan 14 and last comment was made on Dec 29. I completely get this is a side/community-supported project, so no expectations here. I was just wondering whether this part is being actively worked o

[2017-02-13 23:51] Bekcpear opened #1128 "iOS Safari & Chrome cannot upload an avatar"
###Expected behavior
Upload an avatar successful on iOS

###Actual behavior.
No response when I click the avatar upload button

###Specifications
- iOS Version: 10.2.1
- Version of Flarum: 0.1.0-beta.6
- Website URL where the bug is visible: https://pondof.fish
- The webserver you are running: nginx
- PHP version: 7.1.1
- Hosted environment: vps

iOS Safari & Chrome cannot upload an avatar too.
Th

[2017-02-14 00:36] Kakifrucht commented on #1128
Probably related to #1125

[2017-02-14 07:26] Luceos commented on #1120
@franzliedke hope you don't mind I assigned this to next release, feel free to push to stable. I do feel this blocks extension developers immensely, so hence the milestone.

[2017-02-14 21:26] tobscure commented on #746
@mkarnicki Yes we'd like to get this in for stable (even in a preliminary form) as it will involve some API differences from what we currently have. It's not actively being worked on yet though.

It could, but since they will be sorted alphabetically I don't see it being too much of a problem. The sidebar will be scrollable, obviously. I like @dcsjapan's idea of giving the category headings disclo

[2017-02-14 21:51] dav-is commented on #1120
Yeah I spent 2 hours trying to find an error by moving `var_dump($var); die();` around in the code until I found where the error was occurring. Extremely tedious, only to find a method wanted an array and I was supplying a string.

[2017-02-14 22:01] franzliedke commented on #1120
Yep, I will fix this soon.

[2017-02-15 07:42] Strobotti opened #1129 "PHP Fatal error running phpunit tests (mixed case in namespace)"
## Bug report
- Version of Flarum: 0.1.0
- PHP version: 7.0.13

As I run modern operating system with a case-sensitive file system (EXT4) I experience the following error running tests:

`PHP Fatal error:  Class 'Tests\Test\TestCase' not found in /home/juha/workspace/flarum/tests/Flarum/Api/Handler/FloodingExceptionHandlerTest.php on line 19`

Would fix this myself and make a pull-request but not

[2017-02-15 13:37] Luceos commented on #1129
The directory tests doesn't have to be fixed, the composer file actually refers to it properly. Something else must be going on here.

- Reference to [composer.json](https://github.com/flarum/core/blob/master/composer.json#L72).

What command do you use to run phpunit?

[2017-02-15 22:17] franzliedke commented on #866
Hmm... @sijad Did you ever see this being a problem on a real Flarum forum?

Bootstrap's Affix plugin [supposedly](https://github.com/twbs/bootstrap/issues/15845#issuecomment-243214658) handles this already...

[2017-02-16 20:50] bklaile commented on #911
This issue is some months old, but I want to add some more input.

If a post with replies is deleted, than there is a error message "The requested resource is not found." if a user hovers over the the mention that is connected with the original post.

The solution may be that the connection of the reply to the original posting is cut if the origin is deleted.

Here is an example:
https://discuss.f

[2017-02-16 23:20] franzliedke commented on #866
Never mind my question, I figured it all out - [here is the pull request](https://github.com/flarum/core/pull/1131). Good night.

[2017-02-17 10:57] SMXRanger commented on #1127
Yes, I am sure this is not a privacy setting. Other sites works well, and login not remembered on flarum.org and on my test installation.

[2017-02-17 13:40] Rudloff opened #1132 "System is not defined"
Hello,

I get this error when browsing to the index:
![capture d ecran - 2017-02-17 a 14 39 22](https://cloud.githubusercontent.com/assets/840125/23067296/ed07cb20-f51e-11e6-8905-c8d5d31a9f0a.png)

## Bug report
- Version of Flarum: 0.1.0-beta.6
- The webserver you are running: apache
- PHP version: 5.6.30-0+deb8u1
- Hosted environment: dedicated
- Hosting provider: Local Debian box

## Flarum inf

[2017-02-17 14:58] Strobotti commented on #1129
I just ran `phpunit` where the phpunit.xml is located.

The abstract TestCase is in namespace Tests\Test however it is located in tests/Test directory

I also propose renaming it to AbstractTestCase as suggested in PSR-naming conventions (http://www.php-fig.org/bylaws/psr-naming-conventions/)

[2017-02-17 15:58] Luceos commented on #1129
@Strobotti ,

the composer file maps `Tests\` to `tests/`, causing any class inside `tests/` to be found if they are in namespace `Tests\`, so this works..

[2017-02-17 18:58] Luceos commented on #1132
Duplicate, see the forum how to solve, also make sure to hard refresh the cache of your browser:

https://discuss.flarum.org/d/4218-zend-stratigility-debug-message-after-composer-update

[2017-02-17 18:58] #1132 closed

[2017-02-18 11:26] muskatin commented on #1097
![image](https://cloud.githubusercontent.com/assets/11082633/23092907/0acba678-f5e6-11e6-9e56-c375fb08c777.png)
Normal position?

[2017-02-18 15:54] Rudloff commented on #1132
Using zend-stratigility 1.2.1 as discussed in the forum does indeed fix the PHP deprecated warnings but it does not fix my JS issue, which is the main issue here.

[2017-02-20 09:33] Luceos commented on #1132
Do you use cloudflare? Try disabling if so. Also hard clear your browser cache and run `php flarum cache:clear` beforehand.

[2017-02-20 09:35] Rudloff commented on #1132
`php flarum cache:clear` did the trick, thanks!

[2017-02-23 19:27] Luceos opened #1133 "Disallow bots to confirmation links"
As report on the [forums](https://discuss.flarum.org/d/4971-bingbot-automatically-visiting-confirmation-links), some e-mail clients seem to read links in e-mail ( 😢 ) and pre-visit them causing confirmation links to be auto-approved.

As a solution I've suggested to add the confirmation endpoint to the robots.txt; it might be wise to add this endpoint and possibly others there as well to prevent s

[2017-02-23 19:53] Kakifrucht commented on #1133
What about forums in subdirectories though? A shipped robots.txt would be ignored then.

[2017-02-25 00:05] dav-is opened #1134 "Prevent duplicate content for alternative home page URL"
www.google.com/search?q=site%3Adiscuss.flarum.org/all

This is an issue on a few levels. Why can users access https://discuss.flarum.org/all ? I'm told that there's an infinite number of pages too. Like `https://discuss.flarum.org/all?page={x}`.

[2017-02-25 20:43] franzliedke commented on #399
@tobscure Do you agree this could be closed in favor of #861?

[2017-02-25 21:19] franzliedke commented on #912
As discussed in flarum/flarum#36, we will build a middleware that sends a special header on these pages.

[2017-02-25 21:19] franzliedke commented on #912
P.S.: @sijad wants to do this.

[2017-02-25 21:34] franzliedke commented on #1133
As explained in [the forums](https://discuss.flarum.org/d/4971-bingbot-automatically-visiting-confirmation-links/6), I don't see much point in this - and also I don't see a security problem here. This will only happen if the email provider decides to visit those links, although it shouldn't - but at the same time it would give us the confirmation that the email really arrived.

So I am closing thi

[2017-02-25 21:34] #1133 closed

[2017-02-26 13:03] Luceos commented on #1133
@franzliedke remind me to use your e-mail address on all of my 5 million forums. I'd really like to know how you feel about auto approvals then. I don't think you see the full scope of this and it's only a minor thing to add a robots.txt.

[2017-02-26 15:56] sijad commented on #912
@franzliedke is it a good idea to add those tags in [app view](https://github.com/flarum/core/blob/fcfc1b2a37e704955093f8d6082d327765dbef9c/views/app.blade.php) header?

[2017-02-27 12:23] Strobotti commented on #1129
Such a stupid mistake: I used system-wide phpunit which was older version; works flawlessly with the one under vendor-folder

[2017-02-27 12:23] #1129 closed

[2017-02-27 16:15] franzliedke commented on #815
Wouldn't using October 2015 be the easiest solution here?

[2017-02-27 17:13] #912 closed

[2017-02-27 23:10] tobscure commented on #870
What I'm currently thinking is more radical:

* Where domain logic is thin (ie, basically just mapping request data to model attributes, eg, creating a group), move it directly into the API controller. While this couples the API and some domain logic, we do so for the sake of much simpler extensibility.
eg, https://gist.github.com/tobscure/c7940d60750f22208bdc465fa03f382d

* Where domain logic is

[2017-02-28 01:34] aethior commented on #194
I'm not developer, but I want to share my opinion as user and webmaster. Why not copy the Wordpress ([the most used cms](https://w3techs.com/technologies/overview/content_management/all)) slug method?

Wordpress uses latin letters in lowercase, without symbols or marks, and you have the possibility to use characters from other alphabets. I also think interesting the possibility to short URL withou

[2017-02-28 17:49] piotrkochan opened #1137 "Custom CSS Reloading"
## Bug report
- Version of Flarum: master
- Website URL where the bug is visible: Sorry, not public
- The webserver you are running: apache
- PHP version: 5.6.*
- Hosted environment: own vm

## Flarum info

[code]

When I edit Custom CSS they should be automatically updated. Now, after every change in admin panel I have to remove admin-*.css and forum-*.css manually.

[2017-02-28 18:13] Luceos commented on #1137
Are your file permission set up correctly for the assets directory? So that the webserver user is able to delete and write these files on its own?

[2017-02-28 18:16] piotrkochan commented on #1137
You've got me there. Not it's working. Thanks

[2017-02-28 18:16] #1137 closed

[2017-03-03 01:02] tobscure commented on #912
Would it be better to be using a canonical URL meta tag rather than a noindex directive?

[2017-03-03 01:05] tobscure commented on #815
@franzliedke Are you proposing something different to this?

[code]

[2017-03-03 04:19] tobscure commented on #1013
Sorry! The issue was that our SparkPost account had been flagged because of some links from suspicious domains being present in some of the emails sent (due to user-generated content being present in the emails). This resulted in all links in all emails being visited automatically by SparkPost.

At my request, SparkPost took our account off the blacklist but we ended up back on it very quickly for

[2017-03-03 04:28] tobscure commented on #399
They're separate issues: #861 is about having a new page for composing new discussions, while this one is about two-column preview in fullscreen in any context (eg, replying)

If anything I think we should close #861. I'll comment over there explaining why.

[2017-03-03 04:31] tobscure commented on #861
Actually I'm not fully convinced by @dcsjapan's reasoning on this... how is a separate page to preview a new discussion really any different (functionally) than a full-screen mode?

[2017-03-03 04:31] tobscure commented on #1109
Yep agreed this needs to be fixed up.

[2017-03-03 04:54] #866 closed

[2017-03-03 05:16] tobscure commented on #820
So now we just need to expose body class? Is there anything else?

[2017-03-03 05:19] tobscure commented on #1017
Yes.

1. We should have a more definitive clickable element in the post scrubber so that you can jump to the first unread post (currently clicking "X unread posts" shaded area doesn't have any special behaviour)

2. We should have some kind of indicator on each individual unread post - kind of like Discourse's blue dot - so that you can distinguish between what you've read/not read without needing

[2017-03-03 05:21] tobscure commented on #53
It may as well be set to 255, 200 is kind of arbitrary.

The max title length should be configurable (not necessarily via default UI, but definitely via db settings). Do we have an issue for that elsewhere or should we reopen this one?

[2017-03-03 05:47] sijad commented on #912
@tobscure yes it seems a better solutions. should I PR a new one?

[2017-03-03 05:52] sijad commented on #870
can I ask what kind of services?

[2017-03-03 05:54] tobscure commented on #912
Or maybe in addition to noindex. Because canonical URL should probably be constructed and set by individual controllers (eg, DiscussionController) rather than just by stripping ?nojs=1 off the end of the current URL...

[2017-03-03 05:59] tobscure commented on #870
For example, an AvatarUploader service class. You give it a file upload object and it resizes/moves it and gives you back an avatar path. Then the controller is still responsible for updating/saving the user's avatar path.

[2017-03-03 06:04] tobscure commented on #1112
Reopening because this is certainly desirable to have in the future.

@Luceos correct reference issue is https://github.com/flarum/core/issues/674#issuecomment-171101846 :)

[2017-03-03 06:07] tobscure commented on #1112
Probably the way to get around the SSO issue is to make "sudo mode" just an administrator concept (ie, only functions that require administrator permissions also require you to be in sudo mode). And then we can pretty happily assume that all admins will have a password set - if they don't, they can do forgot password quickly and set one up :)

[2017-03-03 07:25] franzliedke commented on #820
Yes, we probably need to come up with a list of which things we are talking about (and then create a new ticket with some instructions to make it contributor-friendly).

[2017-03-03 07:26] franzliedke commented on #912
Yes, we should *allow* controllers to generate a canonical URL, and if we have one, the view will print the meta tag.

[2017-03-03 07:28] franzliedke commented on #861
It would be more consistent with what the actual discussion will look like...

[2017-03-03 07:29] franzliedke commented on #815
I was proposing to show `Oct 2015` instead of `Oct '15` as a simple way of preventing confusion with `Oct 15`.

[2017-03-03 07:42] franzliedke commented on #1025
From [Toby's comment on one of the first PRs]():

[2017-03-03 07:45] tobscure commented on #870
My reason for suggesting this:

Ultimately I think in most cases our events shouldn't be on the domain level, but rather need to be higher up to give extensions more flexibility (ie, access to HTTP information). In order to accomplish that, we need to move some of that logic (stuff like mapping input to model attributes) into the HTTP layer too. So if we just eliminate that middleman (commands), w

[2017-03-03 07:51] tobscure commented on #861
True dat. Suppose it's worth trying out.

[2017-03-03 07:52] franzliedke opened #1138 "Discussion title length should be configurable"
From https://github.com/flarum/core/issues/53#issuecomment-283868511:

While doing this, the max length of the DB column should also be increased to the default of 255, so that this setting can use the full span from 1 (or what's a better minimum?) to 255.

Does anybody know how to handle UTF-8 characters in title? I assume 255 UTF-8 chars will not be possible...

[2017-03-03 07:52] franzliedke commented on #53
I created [an issue](https://github.com/flarum/core/issues/1138), thanks.

[2017-03-03 07:53] tobscure commented on #815
OK, as far as I can see that's the same as what I've proposed above, so I think we're on the same page...

[2017-03-03 07:55] franzliedke commented on #815
Not quite, your `>1 year` suggestion has the day as well, but I'm not against adding that either. ;)

[2017-03-03 07:57] tobscure commented on #815
Ah I see. My argument for adding that is that if you have multiple posts in a row in the same month, it can be useful to be able to see at a glance how many days apart they are :)

[2017-03-03 17:57] xBootstrap opened #1139 "Zendguardframework requires attention"
---
<pre> Deprecated: The third argument to Zend\Stratigility\MiddlewarePipe() ($out) will be required starting with Stratigility version 2; please see https://docs.zendframework.com/zend-stratigility/migration/to-v2/ for more details on how to update your application to remove this message. in C:\xamppp\htdocs\marketplace\vendor\zendframework\zend-stratigility\src\MiddlewarePipe.php on line 101 <

[2017-03-03 18:30] xBootstrap commented on #1139
I just want to add that i was able to fix the issue by rolling back to zend-stratigility older version
<pre>composer require zendframework/zend-stratigility 1.2.1</pre>

[2017-03-03 18:33] dav-is commented on #912
Speaking of canonical urls, should the discussion list have a canonical url that doesn't have the post number in it? For example: forum.example/d/5/77 => forum.example/d/5

[2017-03-03 19:03] dav-is commented on #1139
#1065

[2017-03-03 20:55] tobscure commented on #912
not sure I understand @dav-is?

[2017-03-03 21:07] aethior opened #1140 "301 redirect for new URL (title changes)"
When the title is changed a new url (slug) is generated. The old url has to redirect to the new URL using 301 HTTP status code (moved permanently). This is necesary for a better SEO.

Related: https://discuss.flarum.org/d/5069-incorrect-http-status-code-in-redirections

[2017-03-03 21:11] dav-is commented on #912
Well the page forum.example/d/5 would have the same content at forum.example/d/5/8 and the same content as forum.example/d/5/9. There's overlap in content so should we just remove the post number from the url using the canonical tag? When google crawls, doesn't it scroll down and load all the posts?

[2017-03-03 22:52] chaosbunker commented on #1128
I also have the same issue, with both chrome and safari in iOS

[2017-03-04 03:23] oanhnn commented on #1128
Yes. I have same issue and fixed it by changing upload avatar specs :smile:

[2017-03-04 05:04] tobscure commented on #912
I don't think so? We do know that Google will wait for AJAX content to be loaded... but I can't imagine it would trigger a scroll event. So I think it will only see whatever content is preloaded.

You're right that certain discussion URLs will have similar content though. Maybe we should make the canonical URL use a number rounded down to the nearest multiple of 20 (or however many posts per page

[2017-03-04 05:57] Luceos commented on #912
I was under the impression indexer bots can understand pagination and call on next, prev and other links..

http://stackoverflow.com/questions/35952151/javascript-pagination-and-seo

[2017-03-04 06:13] dav-is commented on #912
https://webmasters.googleblog.com/2014/02/infinite-scroll-search-friendly.html?m=1

[2017-03-04 11:15] #1139 closed

[2017-03-04 17:39] Stranikevg opened #1142 "Url slug"
Slug russian
/vendor/flarum/core/src/Util/Str.php

$cyr  = array('а','б','в','г','д','е','ё','ж','з','и','й','к','л','м','н','о','п','р','с','т','у',
            'ф','х','ц','ч','ш','щ','ъ', 'ы','ь', 'э', 'ю','я','А','Б','В','Г','Д','Е','Ж','З','И','Й','К','Л','М','Н','О','П','Р','С','Т','У',
            'Ф','Х','Ц','Ч','Ш','Щ','Ъ', 'Ы','Ь', 'Э', 'Ю','Я' );
$lat = array( 'a','b','v','g','d','e','i

[2017-03-04 21:37] tobscure commented on #1142
See #194

[2017-03-04 21:37] #1142 closed

[2017-03-05 02:24] tobscure commented on #1118
Yeah I agree, the user (without reply) should be displayed first.

[2017-03-05 02:32] tobscure commented on #115
I don't understand the use-case for pagination on the discussion list.

If you just want to keep looking at more and more discussions, load more / infinite scroll does the job.

If you are looking for a specific discussion, filter by tag and/or use search.

If you are looking specifically for older discussions (ie, based on dates), use search gambits.

Why would you ever need to "jump to page 9" i

[2017-03-05 02:43] tobscure commented on #825
I would argue that the port field should be omitted from the installer to avoid confusing users who will not need to change it from the default (majority of cases)?

[2017-03-05 02:48] tobscure commented on #1003
I can't reproduce this on discuss.flarum.org, unless I'm misunderstanding:

![untitled](https://cloud.githubusercontent.com/assets/128862/23584076/32658ebc-01a6-11e7-9ecb-82d02a90c160.gif)

[2017-03-05 04:13] amdad commented on #115
Gambits will be cool. But not many people know this at start.
Infinite load when there will be hundreds and thousands of topics will bloat page/browser.   When there will be very many of topics.

What I didn't like most, is fact. When I browse long list that have dozens of items and they are loaded dynamically. When Page refresh I must browse and browse again. I should have option to start where I

[2017-03-05 04:38] amdad commented on #115
Problem is visible here: https://meta.discourse.org/

There is a lot of content. At some point your browser may fail you or you just go back to browsing list later,  and didn't want to spend extra time each time to browse from start to 1000+ topics.

It's like archive. But yea, gambits will save situation here because we can filter only older posts. But still, I don't think this is so user friendl

[2017-03-05 05:29] tobscure commented on #1111
What are the alternatives to contextual binding? Is it possible to do something like:

[code]

[2017-03-05 06:09] Luceos commented on #1111
I havent't tested that. But I would also like to suggest to refrain from dot notated bindings, because they cannot be type hinted in class constructors or methods. Creating a simple, unique Interface/Contract that extends another is very easy to do and is way more flexible.

[2017-03-05 09:35] tobscure commented on #1024
Btw, here's the script that powers the bot: https://github.com/lhorie/mithril.js/blob/next/.travis.yml#L25

[2017-03-06 00:35] tobscure commented on #1111
@Luceos how would that work though?

[code]

Creating a unique interface/class solely for the purposes of dependency injection is wrong. There's nothing inherently/behaviourally different about the filesystem for avatars — it's a normal filesystem. Thus, the typehint should be Filesystem. The responsibility is on the DI container to provide the right Filesystem instance.

[2017-03-06 02:19] tobscure opened #1143 "[Tags] Adapt language of DiscussionTaggedPost if tags are invisible/deleted"
![fixthis](https://cloud.githubusercontent.com/assets/128862/23594541/bf9719bc-026a-11e7-8697-74acc37d7a44.png)

ie, this should just be "Toby added the Dev > Contributors-only tags."

[2017-03-06 06:05] Luceos commented on #1111
Another solution is to trigger an event when the textual binding is being resolved.

[2017-03-06 10:16] jordanjay29 commented on #868
Bumping this from the line in the recent API draft. Keeping flags alive, and also their flag header on posts would be useful for mods (in an inactive state and replace buttons with the action taken and by whom). It keeps a history of what happened and how it was resolved for future reference.

Also tying this into the user would be helpful (which is getting beyond the scope of this issue but still

[2017-03-06 11:15] franzliedke commented on #825
Yep, sounds good. For people who want to do it, they can still add the port at the end of the hostname, so that use case is covered as well.

[2017-03-06 11:16] franzliedke commented on #1128
@oanhnn Not sure I understand. How did you fix this exactly? Which specs are we talking about?

[2017-03-06 12:46] franzliedke commented on #1003
@tobscure I believe it's about the sticky not dropping down to its natural position in the list once marked as read that way.

@dav-is Is my interpretation correct?

[2017-03-06 13:32] dav-is commented on #1003
That is correct. @franzliedke

[2017-03-06 14:03] sijad commented on #194
neither `transliterator_transliterate` nor Slugify is suitable for Persian language.

[2017-03-06 15:01] franzliedke commented on #1003
@tobscure So basically it's up to you whether this behavior (and the one I described in my first reply) is worth fixing...

[2017-03-06 15:24] Kakifrucht commented on #1003
I remember that a while ago after clicking the read bubble the thread stayed up there until you actually entered the thread. When was this issue fixed?

[2017-03-06 19:10] tobscure commented on #1003
@Kakifrucht you may be thinking of threads which have been marked as read by clicking "mark all as read". I think we have an issue for this elsewhere?

I don't consider the behaviour in my GIF a bug, the UX would be a bit erratic if a topic were to jump to a random position in the list (off of the first page?) immediately as you mark it as read, not to mention the technical challenge of doing so.

[2017-03-06 19:10] #1003 closed

[2017-03-06 20:06] Kakifrucht commented on #1003
I'm not that sure anymore, but I thought the issue was the same as outlined by @dav-is, doesn't matter anymore though as that bug is gone.

[2017-03-06 21:01] #1118 closed

[2017-03-06 21:13] franzliedke commented on #1140
As far as I can tell, this problem can be avoided with rel=canonical tags as well - and [we already have an issue for that](https://github.com/flarum/core/issues/358), so I am closing this one.

Feel free to correct me.

[2017-03-06 21:16] franzliedke commented on #912
Since this topic came up quite often... here's what I understand:

- discussion pages should have rel=canonical meta tags - we [have an issue for this](https://github.com/flarum/core/issues/358), and I've bumped it so that it gets done soon
- this canonical tag should link to the first page
- we should have additional pagination links (for search engines) that lead to search-engine-friendly pages,

[2017-03-06 21:20] tobscure commented on #1140
You're right, but would it not be worth enforcing a redirect for completeness' sake?

[2017-03-06 21:26] aethior commented on #1140
@franzliedke You also need use 301 redirects. The content was moved to other url, and when the old url is searched by crawlers this url receive a 200 status code. You have to use a 301 code and redirect to the new url to update the search index.

For example (Wordpress)
![image](https://cloud.githubusercontent.com/assets/1769227/23630547/d79b2cd2-02bb-11e7-964e-ba3a3a4124c1.png)

[2017-03-06 21:51] believer-ufa commented on #194
@sijad, if we talking about slugify, you can [easily add](https://github.com/cocur/slugify/tree/master/Resources/rules) you own rules for your language.

[2017-03-06 21:59] aethior opened #1144 "Error 404 for missing tags"
The missing tags show a 200 (Ok) status code. I think these links should use a 404 (Not Found) code.

![image](https://cloud.githubusercontent.com/assets/1769227/23631979/7eac6b9a-02c0-11e7-900a-343c68abfedd.png)

[2017-03-06 22:05] tobscure commented on #1144
Merging into #906 (this goes hand-in-hand with making the content of tag pages indexable by search engines).

[2017-03-06 22:05] #1144 closed

[2017-03-06 22:06] tobscure commented on #906
From @aethior in #1144, which goes hand-in-hand with this issue:

[2017-03-07 01:22] oanhnn commented on #1128
Spec:
Haven't avatar yet case: Click avatar => show dialog chose file => upload
Have avatar yet: Click avatar => show dialog chose change avatar or remove avatar => upload

My spec after fix:
Click avatar => show dialog chose file => upload

My solution: make input[file] in avatar block

[2017-03-07 01:35] dav-is commented on #1140
The pretty url portion doesn't matter at all. Easily solved by canocial link without it. For instance forum.example/d/5 will go to the discussion of id 5. Pretty urls aren't needed on search engines as all the context is in the search result. When sharing links with others, a pretty URL makes it a bit more clear on the content you are about to view.

[2017-03-07 02:09] aethior commented on #1140
This is not a discussion about pretty urls. When you use a 301 status code, you say to the crawlers that the url changed and they have to update the index. If you change the url without the 301 code, the new url is absolutely new for search engines. The search engines uses the http status code for update (301) or delete (404) the url from search index.

The examples show how the most important for

[2017-03-07 02:58] dav-is commented on #1140
The point is the URL wouldn't change. If you don't include the title in the URL at all, it says the same. Flarum doesn't parse the title in links. It just goes by the ID so the pretty url portion of it can be omitted for search engines so it never changes.

[2017-03-07 03:06] aethior commented on #1140
For Google `/d/1-old-url` and `/d/1-new-url` are two different url (for flarum is the same discussion (ID 1), but for crawlers are two different urls). The examples also creates urls based in the ID and complete the url with the current title. The search engines does not understad portions or ID, crawlers read the complete url.

[2017-03-07 03:08] dav-is commented on #1140
The title can be ommited. Set canocial URL to `/d/1` and it will work.

[2017-03-07 03:43] aethior commented on #1140
I don't want to flood the issue repeating the same argument again and again. You can visit the posted examples and check how they use the canonical tags and redirections (the images are real examples, you can repeat the examples with [httpstatus.io](https://httpstatus.io/)).

`www.domain.com/d/1-old-or-incorrect-url/` -> HTTP 301 -> `www.domain.com/d/1-new-and-correct-url/`

In all cases `<link re

[2017-03-07 03:49] dav-is commented on #1140
I'm not sure you understand what I'm saying.

A user create a discussion title "Test Discussion" and it is assigned an id of 1. The URL shown in the broswer is `flarum.example/d/1-test-discussion`. The canocial URL is set to `flarum.example/d/1`. The search engine indexes that URL.

Then the user edits the title of the post. The URL shown in the browser is `flarum.example/d/1-new-title` although,

[2017-03-07 04:21] aethior commented on #1140
Yes, I understand. The displayed url in Google search results is `flarum.example/d/1` (without words) in your example.

This is the easy solution, but not the better (IMHO). The webmasters want to index completely the url (better apearence on search results, keywords for seo,...).

Honestly, if other software solutions use the described method, why not also Flarum?

[2017-03-07 05:05] tobscure commented on #1140
Yeah, the canonical URL should include the title slug, because we want Google to link to pretty URLs.

If the title slug in the URL is incorrect, Flarum should kindly redirect the user/bot to the correct URL. And let's go back to basics and assume we don't have JavaScript to do it for us. Adding in a HTTP redirect is not a big deal, and it's the correct thing to do, with or without a canonical tag

[2017-03-08 21:49] thecotne commented on #194
what if we use github issue like urls? (id only no slug no transliteration)
and then some plugins may change urls ....

[2017-03-09 02:06] aethior commented on #194
and then some plugins may change urls ....

Those urls are not seo and human friendly. Your suggestion was discussed here: #1140

[2017-03-09 14:02] firegurafiku commented on #194
@believer-ufa

How about *easy* adding support for Chinese or Japanese?
Languages *are* hard and nobody should rely on automatic romanization. Instead, there should be options to disable slugs at all, or set them manually.

[2017-03-09 15:30] sijad commented on #194
@believer-ufa in Persian people usually does not use diacritics in texts, so Slugify is not an option, for Persian language (and Arabic?) using unicode plus a few filter (remove diacritics, non-alphanumerics, spaces, etc) is best option.

[2017-03-10 22:18] tobscure commented on #460
Do we have any specifics on how this can be applied to Flarum?

[2017-03-11 01:53] dav-is commented on #460
I think I saw a discussion on the forums and they said it didn't allow caching of preloaded assets I think...

[2017-03-11 05:09] amdad commented on #115
Good article on this topic: https://uxplanet.org/ux-infinite-scrolling-vs-pagination-1030d29376f1

Some additional points:
1. You don't know how long is list. Is it 200 items or 10000. You scrolling without knowing where is the end.
2. You don't know your current position. On which position/part of list are you.
3. Performance on very long list may be problem. Scrollbar is tiny and harder to use.

[2017-03-11 05:13] tobscure commented on #115
@amdad Thanks for the info, will digest and respond soon.

[2017-03-11 11:42] jordanjay29 commented on #252
Is this still on the to-do for B7? Would be nice to have it working on discuss.flarum.

[2017-03-11 13:25] ibrahimk157 commented on #1128
@oanhnn I don't get it, what file are you editing?

[2017-03-11 16:22] amdad commented on #528
Franz, please treat gender specific translation as optional. As additional strings under general translation strings.

As I see, first of all in stable there will be no gender support. And it's not a problem since stable release have enough problems to solve. So this is answer to your question. Basic Flarum will speak.

Real example from older Flarum lang file:

In locale/core.php

[code]

The sam

[2017-03-11 17:18] amdad commented on #528
Franz, I fight fot this matter from two years man. And was told this will be implemented this way or a not her. And you kick the doors and... [SURPRISE MOTHER FURTHER](https://www.youtube.com/watch?v=z5rRZdiu1UE)!^#%!

[2017-03-11 17:22] franzliedke commented on #528
I don't understand what this is about.

I've said I am not too happy about supporting this additional complexity **in core**. But as you can see, we haven't made a decision here, either.

[2017-03-11 17:26] amdad commented on #528
I didn't ask it for 'Core' support. Only by extension. But official one. Lang file is made by authors. And if they ignore extending it for additional strings it's like it didn't exist. Only for those who need it. It is such a simple thing to do, and pros are giant.

[2017-03-11 17:34] amdad commented on #528
From Gitter:

Now: please believe me when I say that we understand the need for genderization.
I studied French in high school and majored in linguistics in college. Franz is German, a language with three genders. So even though we may not know much Polish, we understand well how important gender can be.

At any rate, the issue tracker is not the best place for long discussions.
It is a place for

[2017-03-11 17:47] franzliedke commented on #252
Yeah, I agree, should be simple enough as well.

@tobscure Can we squeeze this in?

[2017-03-11 23:51] amdad commented on #528
Something like example above from forum/extensions/langpack/locale/core.php

[code]

[2017-03-12 13:52] Cadiducho commented on #1110
Hi. I have the same bug, also with OVH hosting. When i write `print_r($response);` at the line that @jacquarg said, yup, the bug is gone. And I don't know why.
Flarum 0.1.0-beta.6, PHP 5.6

[2017-03-12 21:57] franzliedke commented on #460
Yeah, not sure what this was about. Closing. ;)

[2017-03-12 21:57] #460 closed

[2017-03-13 04:25] aethior commented on #906
Missing pages also show a 200 (Ok) status code.

![image](https://cloud.githubusercontent.com/assets/1769227/23841399/4650ceb6-07ad-11e7-854c-a015cc75286a.png)

[2017-03-13 09:46] franzliedke commented on #1128
To anybody who can reproduce this bug:
- Can you see any error message in the browser's dev tools console?
- In the dev tools' "Network" tab, do you see a request that tries to upload the file? If so, does it return successfully?
- Any errors in the server-side error logs?

[2017-03-13 10:01] Bekcpear commented on #1128
@franzliedke Thank you for your reply.

It's not a server problem.

It's just cannot popup the file dialog when I click the avatar upload button on iOS platform.

If I unhide the 'file input' element (which is triggered by JS before), and click the input manually, iOS file dialog can appears normally and then avatar uploaded successfully.

[2017-03-13 10:12] franzliedke commented on #1128
Okay, thanks for clarifying.

Apparently, we need to shift the file input field off-screen instead of [hiding it](https://github.com/flarum/core/blob/123c3a93f57cac94035acbcbaf4542183ec476c6/js/forum/src/components/AvatarEditor.js#L107).

I'll let @tobscure take care of this. ;)

[2017-03-13 10:12] franzliedke commented on #1128
Some references:
- https://github.com/fat/bean/issues/82
- https://stackoverflow.com/questions/25886480/trigger-click-on-input-file
- https://stackoverflow.com/questions/793014/jquery-trigger-file-input
- https://stackoverflow.com/questions/13290421/script5-access-is-denied-error-on-ie9-when-firing-click-from-onchange

[2017-03-13 10:17] franzliedke commented on #1127
Hmm, we have had a "remember me" feature [for a couple months now](https://github.com/flarum/core/pull/1075) - looks like it is time to roll out the latest dev-master on our support forum...

@SMXRanger Can you check whether this problem occurs on [Devflarum](https://discuss.flarum.org/d/697-devflarum-sandbox-server) as well? That forum runs the latest version.

[2017-03-13 10:45] franzliedke commented on #906
This is a bit tricky. What would the correct behavior look like, for empty result sets? As far as I can tell, it's this:

- for the normal index page (page = 1) or with any other search criteria, we should return HTTP 200 and an empty result
- if the user requests any page higher than the total page count for whichever search result we are talking about, the response status should be 404

Is there

[2017-03-13 10:50] franzliedke commented on #1140
I still don't see the benefit here, to be honest.

If canonical tags take care of the de-duplication (and they do), why do we still need redirects?

[2017-03-13 11:30] ibrahimk157 commented on #1128
@franzliedke flagrow/upload has a upload button that works all the time... can't you copy (or compare) the code from that to solve this problem? Or have you already discovered why this happens?

[2017-03-13 11:42] franzliedke commented on #1128
@ibrahimk157 [As far as I can tell](https://github.com/flagrow/upload/blob/06c66d5f09e0ef542a6620fb9fece65f4684d007/js/forum/src/components/UploadButton.js), they do not hide the upload input field the way we do.

[2017-03-13 12:00] ibrahimk157 commented on #1128
@franzliedke so are you or toby able to fix it?

[2017-03-13 12:03] franzliedke commented on #1128
Using my suggestion above, I hope Toby will be able to fix it, yes. :)

[2017-03-13 12:16] ibrahimk157 commented on #1128
@franzliedke Awesome! Thank you for all your hard work!

[2017-03-13 14:00] aethior commented on #1140
@franzliedke For Google `/d/1-old-url` and `/d/1-new-url` are two different url. When the url is changed you use a 301 redirection to alert crawlers about the url change. When the crawler receive a 301 redirect the information is automatically update in the search index.

With canonical you are selecting one url between differents urls to be indexed, but with 301 redirect you are updating the old

[2017-03-13 15:29] franzliedke commented on #1110
Where is that `Content-Length` header coming from? I do see that on discuss.flarum.org, too, but it should not be needed...

[2017-03-13 15:40] franzliedke commented on #1110
Looks like this actually has to do with our use of zend-diactoros, which *does* set the header.

[2017-03-13 15:54] franzliedke commented on #1128
Apparently Flagrow [does hide the button](https://github.com/flagrow/upload/blob/a8405211e16b52092ce25bf55d73ee4ad63cb594/less/forum/upload.less#L1-L16), but not by setting its `display` to `none`, but rather by wrapping it with another CSS element and styling *that*. Might be even more inspiration for Toby. ;)

[2017-03-13 16:25] franzliedke commented on #1140
But this is not about moving a site. This is about preventing duplicate content. See one of these:

- https://searchenginewatch.com/sew/how-to/2288690/how-and-when-to-use-301-redirects-vs-canonical
- https://moz.com/blog/301-redirect-or-relcanonical-which-one-should-you-use

[2017-03-13 16:31] franzliedke commented on #1134
There is no NoJS content in these search results (anymore?), as far as I can tell.

As for the `/all` page - that should only be indexed when Flarum's "Home page" setting is set to "Tags", right? When not, it should have another rel=canonical tag that points to the base URL. And vice versa: When the home page is set to "Tags", the URL `/tags` should not be indexed...

[2017-03-13 16:45] sijad commented on #1140
from first link you posted:

I also think 301 option is better here

[2017-03-13 17:17] sijad commented on #1140
there's no extra redirection, with backend redirection frontend redirection is useless
anyway without 301 redirection browser treats *the new URL* as a new record in its history and this can make problem for users in a while.

[2017-03-13 19:44] SMXRanger commented on #1127
Just tested: same story. Login remember on Devflarum resets every time then Microsoft Edge is closed.

[2017-03-13 20:50] franzliedke commented on #1127
@SMXRanger Sorry, just to make sure: Did you try with and without the small checkbox beneath the password field? (It is kind of easy to miss.)

[2017-03-14 08:17] WiseClock commented on #1128
I came up with an extension that tweaks the avatar uploading function a little bit and was having the same issue at the beginning since I didn't change any of the code that's firing the click events.
Then today I did a little hack to it, now it works on iOS, too.

What causes this issue is that the current code in [AvatarEditor](https://github.com/flarum/core/blob/34f3d93ce56ad18ada6aad65bfc77244f

[2017-03-14 10:13] sijad commented on #1127
I tested this on my friend surface, both on Devflarum (with remember me checked) and discuss.flarum.org, it seems cookies saves as sessions.

request headers:

[code]

response headers:

[code]

![image](https://cloud.githubusercontent.com/assets/7693001/23895430/e832f174-08ba-11e7-93fc-6894e58acea5.png)

it seems Microsoft browsers [do not support Max-Age in Set-Cookie header](https://msdn.micros

[2017-03-14 10:17] franzliedke commented on #1140
@sijad Huh? When the server responds with 301, this causes an additional roundtrip. The client parses the response, and then sends an extra request to the target URL.

301 redirects and canonical URLs **both** achieve the following goals:
- prevent duplicate content for search engines
- change the URL (so that users can share the correct URL)

Apart from that, 301 is less performant, so I slightly

[2017-03-14 10:21] sijad commented on #1127
it's an old article but it seems still valid:
http://mrcoles.com/blog/cookies-max-age-vs-expires/
I guess we have to send both `Max-Age` and `Expires` with `Set-Cookie` header

[2017-03-14 10:22] sijad commented on #1127
and this one https://balanceiskey.github.io/2015/11/25/ie11-cookies.html

[2017-03-14 10:23] franzliedke commented on #1127
Thanks for unconvering that, @sijad. :)

[2017-03-14 21:26] #1127 closed

[2017-03-14 21:31] franzliedke commented on #1127
Should be fixed now. Thanks for the help, everybody!

(That said, is it possible that we're back to the old buggy behavior of only remembering the login for two weeks after the last login, instead of two weeks after the last visit? See the discussion in #656.)

[2017-03-14 23:24] aethior commented on #1140
I always understood the 301 redirects as the best way to redirect users and crawlers to the correct url. I understand the canonical tags as a preference among different urls (when different urls are available: sessions, lowercase/uppercase, parameters, etc.). In all case canonicals are recomendations for search engines, and Google reserves the right to ignore them if you use it incorrectly.

If yo

[2017-03-15 04:34] SMXRanger commented on #1127
Yes, this issue is fixed now in Edge on https://devflarum.xyzz.work/
Great!

[2017-03-16 15:28] kulga opened #1145 "Clicking on profile box during editing removes all changes"
During editing your profile *"Write something about yourself"*, if you click on it after making changes it will revert to its prior saved state.

* Message saved at "Hello world!"
* Change default message
* Click anywhere in box
* Message reverts to "Hello world!"

## Bug report
- Version of Flarum: **dev-master** and **beta.6**
- Website URL where the bug is visible: https://devflarum.xyzz.work/

[2017-03-17 00:46] Magicalex opened #1146 "[approval] restriction by tags doesn't works"
## Bug report
- Version of Flarum: v0.1.0-beta.6
- The webserver you are running: nginx
- PHP version: 7.1
- Hosted environment: docker

## Flarum info

[code]

## Additional comments
Without tags restriction extension works, but with tags restriction nothing work for all tags

[2017-03-17 04:00] aethior commented on #358
Related with urls, usernames and consistency... Why Flarum use all urls (discussions, tags...) in lowercase except the user profile url? To be honest, I prefer all url in lowercase but I understand that it's a personal preference.

[2017-03-17 07:03] franzliedke commented on #1146
Can you go into more detail, please? What does "nothing work" mean? And which tags restrictions are we talking about?

[2017-03-17 11:20] ibrahimk157 commented on #854
Any progress on this? It's been a year since this has been reported

[2017-03-17 12:33] Magicalex commented on #1146
When a member posts a discussion, approval isn't applied.

https://images.mondedie.fr/bXeyxQKr/MUEWFb86.png
https://images.mondedie.fr/YhOtIpY6/83xHyjfo.png

[2017-03-17 20:57] franzliedke commented on #1145
Funky. Nice find. :)

[2017-03-17 21:16] #1145 closed

[2017-03-18 13:30] aethior commented on #906
Missing users generates `The requested resource was not found.` message and an infinite loading page.

![tlieheucwvuaaaaasuvork5cyii](https://cloud.githubusercontent.com/assets/1769227/24072458/5c7fb0e2-0be7-11e7-8ba9-baeb30b1495f.png)

[2017-03-20 00:27] yagobski commented on #194
I just make an improvement for this issue. I use something like wordpress Slug. Can handle utf8 and more ;)

[2017-03-20 11:39] Luceos commented on #194
@franzliedke personally I use the intl extension a lot. It allows for easy implementation of monetary values as well. And it's easy to install as well.

[2017-03-20 12:21] pmgouveia commented on #890
Why should flarum need write permissions in the root of the webapp? Why not only in:
extensions/
tmp/
whatever/

http://oi68.tinypic.com/10wl3eg.jpg

[2017-03-20 13:52] Luceos commented on #890
It needs write access in the root (and only in the root and storage and assets) because it writes the config.php there.

[2017-03-20 15:04] Ralkage opened #1149 "Activation notification after activation link is clicked and user is redirected"
## Bug report
- Version of Flarum: 0.1.0-beta.6
- Website URL where the bug is visible: Local Environment
- The webserver you are running: Apache
- PHP version: 7.0.10
- Hosted environment: Locally
- Hosting provider: Myself?

## Flarum info

[code]

## Additional comments
I'm not sure if this is intentional or not but once a user clicks on the activation link and is redirected to the forum, they

[2017-03-21 22:03] franzliedke commented on #837
As noted in chat, we also need to remove the `rev-manifest.json` file in the assets directory.

[2017-03-22 07:39] franzliedke commented on #1149
@tobscure Is this on purpose?

[2017-03-22 07:52] tobscure commented on #1149
No. Agreed, a notification would be desirable

[2017-03-22 07:53] tobscure commented on #1149
And by "notification" I don't mean an actual notification, just an alert message

[2017-03-23 23:40] tobscure commented on #884
I think we'll leave CAPTCHA to a third-party, so this can be closed?

[2017-03-24 15:02] dangerORclose commented on #607
Hey,
I am having this error.
But i can log in on flarum forum, but not on my own forum.
But i can on my phone and tablet. And someone else also can.
(So i can not log in or sign up on my forum without the error.)
I am using Google Chrome browser.

[2017-03-25 13:21] vladipus commented on #290
I too would like to know if the pg support is there.

[2017-03-25 17:00] vjousse commented on #290
I did some significant work here: https://github.com/flarum/core/pull/856 but was not able to finish it alone.
I suppose it's not a priority right now, but as far as I remember the modifications I made allowed the forum to be installed using postgres.

[2017-03-26 07:42] issyrocks12 commented on #1000
Is this still not done? I'd be more than happy to assist in writing some of it.

[2017-03-26 07:45] tobscure commented on #1000
We'll be completely rewriting the extension API soon so this has to wait until (and will be a priority) after that.

[2017-03-26 07:45] dav-is commented on #1000
I think someone new on the forums was working on it. I'd check the forks of the docs on GitHub to see what he's done so far (I think they're in GitHub somewhere aren't they?).

[2017-03-26 11:14] jordanjay29 commented on #1000
@Arkinn is our new doc writer who has been diligently updating all our docs. He and I will be working on extensions documentation after his current project is finished @dav-is.

[2017-03-26 17:25] franzliedke commented on #884
Fine with me. It can be considered again later, but it's not required in core for a first stable release, I'd say.

[2017-03-26 17:25] #884 closed

[2017-03-27 14:05] Luceos commented on #607
@dangerORclose please open a support question on the official forums, most likely something is wrong with your set up; this ticket is not about specific per-user problems.

https://discuss.flarum.org/t/support

[2017-03-29 09:20] rsolvang commented on #894
Any updates on this? It would be great to set the default behavior for all users in the admin panel!

[2017-03-30 07:32] jordanjay29 commented on #459
Encountered this in a [recent Flarum support request](https://discuss.flarum.org/d/4102-a-way-to-make-the-forum-go-into-maintenance-mode/21). The hack is simple, add an *offline* key to config.php, but Flarum can do this through a service provider like [Flagrow does here](https://github.com/flagrow/bazaar/blob/master/src/Search/FlagrowApi.php#L19).

I'm thinking this may require a few things to be

[2017-04-03 05:52] quangpkv opened #1151 "Removing ref="nofollow noreferrer" from internal link"
Dear developer team,
I used Flarum for a week and it's so awesome. But I realized Flarum automatically assigns the "nofollow noreferrer" attribute to all links (including internal links).
This will have a serious effect on SEO. So I expect you guys to have a solution to the issue on the next version.
Thank you so much for what you are doing. You guys rock!

[2017-04-03 08:21] franzliedke commented on #1151
Hello,

first of all, please be aware that this is an open-source project. We do all of this in our free-time. This means you shouldn't *expect* us to do certain things on your timeframe. As a good open-source citizen, you may be able to influence our forward progress by sending pull requests for certain features that are important to you.

That said, please explain what exactly the problem is (in

[2017-04-03 09:54] quangpkv commented on #1151
@franzliedke Sorry for asking a lot but I think it is not a private matter. I'm an Android developer and PHP is not my forte, but I love open source. If I have enough standard to do that, I'd love to help.

[2017-04-03 09:59] #1151 closed

[2017-04-04 04:04] aethior commented on #626
From #1151.

Absolutely agree with @Quangpkv. The internal links should not use `nofollow` attribute. Explained by [Matt Cutts](https://twitter.com/mattcutts) (former head of the webspam team at Google) [here](https://www.youtube.com/watch?v=bVOOB_Q0MZY), [here](https://www.youtube.com/watch?v=4SAPUx4Beh8) and [here](https://www.youtube.com/watch?v=86GHCVRReJs).

cc @tobscure, @franzliedke